<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="css/global.css">

</head>

<body>


<div class="login box" id="auth">

    <h1><span>SORT</span>NEWS</h1>

    <form>

        <span class="box-icon"><i class="login-ico log"></i></span><input type="text" placeholder="Email"/>

        <span class="box-icon"><i class="pass-ico pass"></i></span><input type="password" placeholder="Новый пароль"/>

        <input type="submit" value="Войти"/>

    </form>

    <div class="clear"></div>

    <small><p><a href="#">Забыли пароль ?</a></p></small>

</div>

<div class="helper"></div>

</body>


</html>