<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="css/global.css">

</head>

<body>


<div class="login box" id="auth">

    <small class="err-msg">

        <i class="notice-ok"></i>

        <p>На ваш email отправлены инструкции

            по смене пароля.</p>

    </small>

    <div class="clear"></div>

    <h1><span>SORT</span>NEWS</h1>

    <form>

        <span class="box-icon"><i class="login-ico log"></i></span><input type="text" placeholder="Email"/>


        <input type="submit" value="Сбросить пароль"/>

    </form>

    <div class="clear"></div>

    <small><p><a href="#">Забыли пароль ?</a></p></small>

</div>

<div class="helper"></div>

</body>


</html>