<!DOCTYPE html>

<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" type="text/css" href="css/global.css">

</head>

<body>


<div class="login box" id="auth">

    <small class="err-msg">

        <i class="notice-err"></i>

        <p>Неверный email или пароль</p>

    </small>

    <div class="clear"></div>

    <h1><span>SORT</span>NEWS</h1>

    <form>

        <span class="box-icon"><i class="login-ico log-err"></i></span><input type="text" placeholder="Email"/>

        <span class="box-icon"><i class="pass-ico pass-err"></i></span><input type="password"
                                                                              placeholder="Новый пароль"/>

        <input type="submit" value="Войти"/>

    </form>

    <div class="clear"></div>

    <small><p><a href="#">Забыли пароль ?</a></p></small>

</div>

<div class="helper"></div>

</body>


</html>