<div class="claim-post-modal-wrapper modal-wrapper-style">
    <div class="claim-post-modal modal-style">
        <div class="claim-post-bg modal-bg-style"></div>
        <div class="claim-post-popup modal-popup-style">
            <div class="menu-item claim-user">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g fill="#333">
                        <path d="M10 0C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0zm0 18.7c-4.8
						0-8.7-4-8.7-8.7 0-4.8 4-8.7 8.7-8.7 4.8 0 8.7 4 8.7 8.7 0 4.8-4 8.7-8.7 8.7zm0 0"/>
                        <path d="M10 3.7c-.7 0-1.2.6-1.2 1.3v6.2c0 .7.5 1.3 1.2 1.3s1.2-.6 1.2-1.3V5c0-.7-.5-1.3-1.2-1.3zm0
						0M11.2 15c0 .7-.5 1.2-1.2 1.2s-1.2-.5-1.2-1.2.5-1.3 1.2-1.3 1.2.6 1.2 1.3zm0 0"/>
                    </g>
                </svg>
                <div class="item-title"><%=lang.lProfileClaimUser%></div>
            </div>
            <div class="menu-item claim-user" style="display: none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g fill="#333">
                        <path d="M10 0C4.5 0 0 4.5 0 10s4.5 10 10 10 10-4.5 10-10S15.5 0 10 0zm0 18.7c-4.8
						0-8.7-4-8.7-8.7 0-4.8 4-8.7 8.7-8.7 4.8 0 8.7 4 8.7 8.7 0 4.8-4 8.7-8.7 8.7zm0 0"/>
                        <path d="M10 3.7c-.7 0-1.2.6-1.2 1.3v6.2c0 .7.5 1.3 1.2 1.3s1.2-.6 1.2-1.3V5c0-.7-.5-1.3-1.2-1.3zm0
						0M11.2 15c0 .7-.5 1.2-1.2 1.2s-1.2-.5-1.2-1.2.5-1.3 1.2-1.3 1.2.6 1.2 1.3zm0 0"/>
                    </g>
                </svg>
                <div class="item-title">Відмінити скаргу</div>
            </div>
            <div class="menu-item make-main-option">
                <div class="item-title">Зробити аватаркою</div>
            </div>
        </div>
    </div>
</div>
