<div class="result-search">
	<p>результат пошуку &laquo;<%= searchStr %>&raquo;:</p>
</div>

<div class="wrapper-nothing_found">
	<div class="nothing-found">
		<p>По запиту &prime;<%= searchStr %>&prime; нічого не знайдено</p>
	</div>
	<div class="icon-nothing_found">
		<span class="icon-smile"></span>
	</div>
</div>