$ff: Arial,sans-serif;
$ffrs: RobotoSlab-Regular,sans-serif;
$ffrm: Roboto-Medium,sans-serif;

$df: flex;
$ai: center;
$js: space-between;
$white: #ffffff;
$violet: #372a6e;
$indigo: #5c4aa5;
$yellow: #e5e519;
$grey: #B0B0B0;
$black: #000000;
$bs: 0 0 15px #4c00d1;
$bxb: border-box;