/* ABOUT US */
.about-us {
  width: 1130px;
  margin: 16px auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2px 0 2px 20px;
  cursor: pointer; }
  .about-us p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #372a6e; }

.wrapper-about_us {
  display: flex;
  width: 1130px;
  height: 385px;
  background-color: #ffffff;
  margin: 20px auto; }

.logotype {
  background-color: #f3f3f3; }

.about-us_history {
  text-align: center;
  padding: 10px 35px 0 35px; }
  .about-us_history p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5; }
  .about-us_history button {
    margin-top: 10px;
    padding: 17px 0 15px 0;
    width: 200px;
    background-color: #ffffff;
    border: 2px solid #372a6e;
    outline: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #372a6e;
    text-transform: uppercase;
    transition: box-shadow 1s; }
    .about-us_history button:hover {
      box-shadow: 0 0 15px #372a6e; }
    .about-us_history button:active {
      background: #372a6e;
      color: #ffffff; }

/* FORM */
.wrapper-form {
  width: 1130px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.form {
  display: none;
  position: absolute;
  top: 100px;
  width: 680px;
  height: 480px;
  padding: 16px 13px 50px 19px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #959595; }
  .form h3 {
    font-family: RobotoSlab-Regular, sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase; }
  .form label {
    font-family: Roboto-Medium, sans-serif;
    font-size: 18px; }
  .form input {
    margin-top: 16px; }
    .form input[type="email"] {
      width: 485px;
      height: 30px;
      margin-left: 108px;
      border: 1px solid #959595;
      outline: none; }
    .form input[type="text"] {
      width: 485px;
      height: 30px;
      margin-left: 26px;
      border: 1px solid #959595;
      outline: none; }
  .form textarea {
    width: 482px;
    height: 170px;
    margin-left: 191px;
    resize: none;
    border: 1px solid #959595;
    outline: none; }
  .form input[type="number"] {
    width: 242px;
    height: 30px;
    margin-left: 66px;
    border: 1px solid #959595;
    margin-top: 16px;
    outline: none; }
  .form img {
    margin: -8px 25px; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

.form input[type="submit"] {
  margin: 16px 0 0 240px;
  padding: 17px 42px 13px;
  cursor: pointer;
  background-color: #372a6e;
  border: none;
  outline: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  transition: box-shadow 1s; }
  .form input[type="submit"]:hover {
    box-shadow: 0 0 15px #4c00d1; }
  .form input[type="submit"]:active {
    background-color: #a0a3a7;
    color: #372a6e; }

/*# sourceMappingURL=about.css.map */
