<!-- ALPHABET -->
<div class="alphabet">
    <ul class="alphabet_menu">
        <li><a href="/dossier/a">а</a></li>
        <li><a href="/dossier/b">б</a></li>
        <li><a href="/dossier/v">в</a></li>
        <li><a href="/dossier/h">г</a></li>
        <li><a href="/dossier/g">ґ</a></li>
        <li><a href="/dossier/d">д</a></li>
        <li><a href="/dossier/e">е</a></li>
        <li><a href="/dossier/ye">є</a></li>
        <li><a href="/dossier/zh">ж</a></li>
        <li><a href="/dossier/z">з</a></li>
        <li><a href="/dossier/y">и</a></li>
        <li><a href="/dossier/i">і</a></li>
        <li><a href="/dossier/yi">ї</a></li>
        <li><a href="/dossier/k">к</a></li>
        <li><a href="/dossier/l">л</a></li>
        <li><a href="/dossier/m">м</a></li>
        <li><a href="/dossier/n">н</a></li>
        <li><a href="/dossier/o">о</a></li>
        <li><a href="/dossier/p">п</a></li>
        <li><a href="/dossier/r">р</a></li>
        <li><a href="/dossier/s">с</a></li>
        <li><a href="/dossier/t">т</a></li>
        <li><a href="/dossier/u">у</a></li>
        <li><a href="/dossier/f">ф</a></li>
        <li><a href="/dossier/kh">х</a></li>
        <li><a href="/dossier/ts">ц</a></li>
        <li><a href="/dossier/ch">ч</a></li>
        <li><a href="/dossier/sh">ш</a></li>
        <li><a href="/dossier/shch">щ</a></li>
        <li><a href="/dossier/yu">ю</a></li>
        <li><a href="/dossier/ya">я</a></li>
    </ul>
</div>