<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/search.css">
	<link rel="stylesheet" href="icon/icon.css">
</head>
<body>
	
	<!-- HEADER -->
<header>
	<div class="wrapper-top">
		<div class="img">
			<a href="#" id="navMenu"><img id="myImage" src ="img/kub.png" alt=""/></a>
		</div>
		<div class="top-hashtag">
			<a href="#">#Світ,</a>
			<a href="#">#Україна,</a>
			<a href="#">#Київ,</a>
			<a href="#">#Події,</a>
			<a href="#">#Політика,</a>
			<a href="#">#Економіка та бізнес</a>
		</div>
		<div class="logo">
			<a href="index.html"><img src="img/logo.png" alt="logo"/></a>
		</div>
		<div class="search">
			<form action="#" method="get" id="search-form">
				<div class="form-group">
					<span class="icon-search"></span>
					<input type="search" name="search" class="search-field" autocomplete="off">
					<ul class="autocomplete">
						<li><a href="#">Політика</a></li>
						<li><a href="#">політика</a></li>
						<li><a href="#">політичні сили</a></li>
						<li><a href="#">ситуація в політиці</a></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</header>

<!-- NAVIGATION -->
<nav class="responsive" id="menus">
	<ul class="topnav" id="myTopnav">
		<li><a href="#">важливо!</a></li>
		<li><a href="#">ексклюзив!</a></li>
		<li><a href="#">інтервью</a></li>
		<li><a href="#">аналітика</a></li>
		<li><a href="#">резонанс</a></li>
		<li><a href="#">публікації</a></li>
		<li><a href="#">популярне</a></li>
		<li><a href="#">інфографіка</a></li>
		<li><a href="#">досьє</a></li>
	</ul>
</nav>

<!-- POPULAR -->
<div class="result-politics">
	<p>Результати пошуку &laquo;політика&raquo;:</p>
</div>

<!-- CONTENT POPULAR -->
	<div class="wrapper-politics">
		<div class="result-politics_item">
			<img src="img/crater.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/element.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/groysman.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/victory.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/soldier.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/motor.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/soldier2.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/girl6.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/agrimotor.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/soldier2.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/girl6.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/agrimotor.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>

		<div class="result-politics_item">
			<img src="img/agrimotor.jpg" alt="crater"/>
			<article>
				<div class="result-politics_item_style">
					<div class="hashtag">
						<a href="#">#Світ,</a>
						<a href="#">#Україна,</a>
						<a href="#">#Київ</a>
					</div>
					<h3>Добро пожаловать в &laquo;Диснейфликс&raquo;. Каким будет стриминговый сервис от Disney?</h3>
					<p><span class="date">7 августа,15:33 | # Політика</span></p>
				</div>
			</article>
		</div>
	</div>

<!-- FOOTER -->
	<footer>
			<div class="wrapper-footer">
				<ul class="menu">
					<li><a href="#">про нас</a></li>
					<li><a href="#">правила</a></li>
					<li><a href="#">використання матеріалів</a></li>
					<li><a href="#">вакансії</a></li>
					<li><a href="#">контакти</a></li>
					<li><a href="#">написати нам</a></li>
				</ul>
			
				<div class="foot-info">
					<p>Копіювання, публікації та інше поширення інформації, розміщеної без письмового дозволу, забороняється. Допускається<br/> цитування матеріалів без отримання попередньої згоди за умови розміщення у тексті обов'язкового посилання на цей ресурс. Для інтернет-видань є обов'язковим розміщення прямого, відкритого для пошукових систем гіперпосилання на цитовану статтю не нижче другого абзацу у тексті. Редакція може не поділяти думку авторів і не несе відповідальність за достовірність інформації.</p>
				</div>
			
				<div class="social-icon">
					<ul class="icon">
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-youtube"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-rss"></span></a></li>
						<li><a href="#"><span class="icon-info"></span></a></li>
					</ul>
				</div>
					<p><span class="copy">&copy; 2015 Усі права застережені.</span></p>
			</div>
	</footer>

<script src="js/script.js"></script>
</body>
</html>