<div class="footer-info">
    <!--<div class="row-first">
        <div class="main-menu-section">
            <h5>Main menu</h5>
            <ul>
                <li><a href="/girlsoncamera" title="cam girls on Air">Ladies online</a></li>
                &lt;!&ndash; <li><a href="/ladiesgallery" title="Single ladies online">New girls on pickbride</a></li> &ndash;&gt;
                <li><a href="/ukrainiangirls">Date Ukrainian Girls Online</a></li>
                <li><a href="/russianwomen">Single russian women</a></li>
                <li><a href="/ourlovestories" title="Pickbride couples feedback">Our love stories</a></li>
                <li><a href="/bestfotos" title="Best girl dating photo">Best fotos</a></li>
                <li><a href="/bestvideos" title="Beautiful single girl video">Best videos</a></li>
            </ul>
        </div>
        <div class="search-section">
            <h5>Search</h5>
            <ul>
                <li><a href="/under21yearsold">girls under 21 years old</a></li>
                <li><a href="/21_25yearsold">girls 21-25 years old</a></li>
                <li><a href="/26_30yearsold">girls 26-30 years old</a></li>
                <li><a href="/31_35yearsold">girls 31-35 years old</a></li>
                <li><a href="/36_40yearsold">girls 36-40 years old</a></li>
                <li><a href="/over41yearsold">girls over 41 years old</a></li>
                &lt;!&ndash; <li><a href="#">Site map</a></li> &ndash;&gt;
            </ul>
        </div>
    </div>-->

    <div class="row-second">
        <div class="info-section">
            <h5>Information</h5>
            <ul>
                <!--<li><a href="/mobile-app" title="Download Pickbride app">Pickbride mobile app</a></li>-->
                <!-- <li><a href="/security&antiscam" title="Security measures">Security and antiscam</a></li> -->
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/terms">Terms &amp; Conditions</a></li>
                <li><a href="/privacy">Privacy policy</a></li>
                <!--<li><a href="/contacts">Contact us</a></li>-->
                <!-- <li><a href="#">Support</a></li> -->
            </ul>
        </div>
        <!--<div class="follow-section">
            <h5>Follow us in social media:</h5>
            <div class="soc-links">
                <a target="_blank" href="https://www.instagram.com/pickbride/">
                    <img title="Facebook logo" alt="Follow us on facebook.com" src="/img/footer_insta.png">
                </a>
                <a target="_blank" href="https://www.facebook.com/Pickbride/">
                    <img title="Instagram logo" alt="Pickbride dating on Instagram.com" src="/img/footer_fb.png">
                </a>
                <a target="_blank" href="https://twitter.com/pickbride">
                    <img title="Official Twitter logo" alt="Twitter account for Pickbride.com" src="/img/footer_twitter.png">
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCQ5yK7O3TYLfrCgWAhrBISw">
                    <img title="Youtube official logo" alt="Pickbride media archive for video on Youtube" src="/img/footer_yt.png">
                </a>
            </div>
        </div>-->
    </div>
    <div class="footer-last">
        <div class="pay-method">
            <img src="/img/footer_mc.png">
            <img src="/img/footer_visa.png">
        </div>
        <div class="security-section">
            <img src="/img/s1.png" height="30" alt="security icon">
            <img src="/img/s2.png" height="30" alt="security icon">
            <img src="/img/s3.png" height="30" alt="security icon">
            <img src="/img/s4.png" height="30" alt="security icon">
        </div>
        <!--<div class="text-section">
            <p>PICKBRIDE LP, 272 Batch Street</p>
            <p>Glasgow, G2 4JR Scotland</p>
        </div>-->
        <div class="text-two-section">
            <!--<p><a href="/messages">Messages (archive)</a></p>-->
            <p>&copy; 2018 All rights reserved <a href="https://www.pickbride.com/">youproud.com</a></p>
        </div>
    </div>

</div>