<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon/favicon-image.ico" type="image/x-icon">
    <title>youproud - traveler's choice!</title>
    <meta name="theme-color" content="#EA6A6A">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400|Roboto:300,400&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/pb-style.css">
    <link rel="stylesheet" href="/css/emomonet-style.css">
    <link rel="stylesheet" href="/css/intrips-style.css">
    <link rel="stylesheet" href="/css/smile_sprite.css">
    <link rel="stylesheet" href="/css/4.0.style.css?v7">
	<link rel="stylesheet" href="/css/jquery.select2.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-58H3F5R');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58H3F5R"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->