<%- include('header') %>

<div class="page-login-register" style="display: block;">
    <form class="form-body login" style="display: block;">
        <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="187" height="auto" viewBox="0 0 916.183 325.853"><title>logo</title><path d="M137.6,246.023" fill="#ea6a6a" stroke="#ea6a6a" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><path d="M319.994,116.753a206.737,206.737,0,0,1-3.766,24.607C294.643,230.8,267.472,290.452,243.548,300.94l-.062.027c-23.949,10.462-86.215-9.983-166.581-54.689C37.68,224.453,6.639,180.567,25.711,131.717A88,88,0,0,1,139.7,81.746a10.04,10.04,0,0,0,12.982-5.692A88,88,0,0,1,266.665,26.086c20.557,8.026,34.432,21.992,42.85,38.716L327.7,56.716A98.928,98.928,0,0,0,273.939,7.455,108.024,108.024,0,0,0,137.913,60.029,108.159,108.159,0,0,0,7.082,124.444C-3.283,150.989-2.253,178.8,10.06,204.859c11.206,23.719,31.492,44.636,57.123,58.9C91.2,277.119,127,295.727,161.135,308.49c27.119,10.141,49.1,15.184,66.4,15.184,9.343,0,17.323-1.471,24.012-4.4l.076-.033c19.058-8.381,36.488-32.515,53.286-73.776,13.738-33.745,24.31-72.684,30.76-99.407a147.828,147.828,0,0,0,4.168-36.913Z" fill="#ea6a6a"/><path d="M237.261,126.612c-9.324,3.938-19.374,8.406-29.862,13.4-45.03,21.46-107.635,57.374-150.164,106.6-19.329,22.374-27.6,40.361-22.7,49.35,4.495,8.239,16.8,14.676,34.1,16.855,9.562,1.2,41.245,3.585,41.245,3.585s-26.161,7.039-35.831,8.431c-29.014,4.176-49.245-4.967-57.062-19.279C7.316,287.853,15.531,264.3,42.1,233.542c44.871-51.937,110.154-89.43,157.019-111.735,10.888-5.183,21.265-9.794,30.861-13.846Z" fill="#ea6a6a"/><path d="M335.785,90.785q5.042-5.167,3.838-9.875-1.972-4.441-9.127-5.381a31.134,31.134,0,0,0-14.4,1.577L300.84,82.395,263.107,51.488a2.076,2.076,0,0,0-2.177-.42l-12.2,4.229a2.214,2.214,0,0,0-1.419,1.455,2.408,2.408,0,0,0,.344,2.072l23.922,33.723-24.687,8.565-10.806-9.446a1.487,1.487,0,0,0-.481-.31,2.231,2.231,0,0,0-1.757-.139l-9.178,3.238a2.41,2.41,0,0,0-1.355,1.323,2.13,2.13,0,0,0,.115,1.88l10.293,19.976,4.288,22.062a2.54,2.54,0,0,0,1.134,1.58l.131.064a2.22,2.22,0,0,0,1.753.137l9.15-3.17a2.181,2.181,0,0,0,1.481-1.743l2.635-14.1,24.691-8.562,2.092,41.3a1.97,1.97,0,0,0,.852,1.682,1.582,1.582,0,0,0,.419.283,2.014,2.014,0,0,0,1.4.205l11.211-2.176a2.174,2.174,0,0,0,1.8-1.746l11.4-49.658L323.5,98.464a31.171,31.171,0,0,0,12.287-7.679Zm0,0" fill="#ea6a6a"/><path d="M424.239,290.622V279.587c-8.123,9.2-16.245,13.026-28.2,13.026-24.828,0-42.759-18.544-42.759-44.139,0-25.9,18.084-44.752,43.219-44.752,12.261,0,20.69,3.985,27.74,13.334V205.716h18.7v84.905Zm-25.594-68.2c-14.56,0-24.828,11.034-24.828,26.514,0,14.866,10.269,24.981,25.135,24.981,15.479,0,24.675-11.035,24.675-25.135C423.626,233.3,413.2,222.421,398.645,222.421Z" fill="#ea6a6a"/><path d="M458.106,290.622V205.716H478.49v84.905Zm.153-97.166V173.072h20.383v20.384Z" fill="#ea6a6a"/><path d="M575.958,318.974H554.042l15.939-36.322-31.112-76.936h23.3l18.851,55.02,20.537-55.02H625Z" fill="#ea6a6a"/><path d="M683.236,292.614c-12.567,0-20.69-3.524-29.426-12.874v10.882h-18.7V177.363H655.5v36.169c7.816-7.815,15.326-10.881,26.36-10.881,24.369,0,42.76,19.311,42.76,44.905S707.145,292.614,683.236,292.614Zm-4.292-71.266c-14.253,0-24.674,10.882-24.674,26.208,0,15.479,10.421,26.36,25.134,26.36,14.56,0,24.675-10.729,24.675-26.208C704.08,232.537,693.5,221.348,678.945,221.348Z" fill="#ea6a6a"/><path d="M803.542,290.622V279.587c-8.122,9.2-16.245,13.026-28.2,13.026-24.828,0-42.76-18.544-42.76-44.139,0-25.9,18.085-44.752,43.22-44.752,12.26,0,20.689,3.985,27.739,13.334V205.716h18.7v84.905Zm-25.594-68.2c-14.56,0-24.828,11.034-24.828,26.514,0,14.866,10.269,24.981,25.134,24.981,15.479,0,24.675-11.035,24.675-25.135C802.929,233.3,792.508,222.421,777.948,222.421Z" fill="#ea6a6a"/><path d="M867.14,318.974H845.224l15.939-36.322-31.111-76.936h23.295l18.851,55.02,20.537-55.02h23.448Z" fill="#ea6a6a"/><path d="M514.64,225.663v64.958H494.258V205.716h18.7v8.275" fill="#ea6a6a"/><path d="M532.913,226.235l2.258-19.811c-9.821,1.619-20.489,3.582-31.759,5.96-3.526.745-4.927,1.548-8.656,2.4l.374,20.2c5.828-1.4,6.541-2.665,11.906-3.8C516.081,229.275,524.752,227.639,532.913,226.235Z" fill="#ea6a6a"/></svg>
        <div class="close-cross">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                <path fill="#FFF" d="M3.4 0l2.2 2.6c.6.7 1 1.3 1.5 2h.1c.5-.7 1-1.3 1.5-2L10.8 0h3L8.6 5.8 14 12h-3.2L8.6 9.3C8 8.6 7.5 7.9 7 7.2h-.1c-.5.7-1 1.4-1.6 2.1L3.1 12H0l5.4-6.1L.3 0h3.1z"></path>
            </svg>
        </div>
        <input id="email-login-input" type="email" class="email-input input-field" placeholder="E-mail...">
        <label for="email-login-input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input id="password-login-input" type="password" class="password-input input-field" placeholder="Password...">
        <label for="password-login-input">&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <button type="submit" class="login-button">Log in</button>
        <a href="#" class="registration-link">Register</a>
        <span class="authorization-info">log in</span>
        <div class="authorization-social-group">
            <a href="/auth/facebook"><svg class="fb-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <circle fill="#3C5A99" cx="15" cy="15" r="15"></circle>
                    <path fill="#F2F2F2" d="M18.8 15.6H16v9.8h-4v-9.8h-2V12h2v-2c0-1.7.8-4.2 4-4.2h3v3.4h-2c-.4 0-1 .2-1 1v2h3l-.2 3.4zm0 0"></path>
                </svg></a>
            <a href="/auth/google"><svg class="gplus-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <circle fill="#DC4F42" cx="15" cy="15" r="15"></circle>
                    <path fill="#FFF" d="M5.22 15.67C5.1 12.47 7.9 9.53 11.1 9.5c1.6-.14 3.2.5 4.43 1.52-.5.56-1.02
                    1.1-1.57 1.62-1.08-.66-2.4-1.16-3.66-.72-2.04.6-3.28 3-2.52 5 .62 2.08 3.16 3.23 5.15 2.35 1.04-.37
                    1.7-1.32 2-2.34-1.17-.02-2.35 0-3.53-.04v-2.1c1.97-.02 3.94-.02 5.9 0 .13 1.72-.12 3.56-1.24
                    4.94-1.53 1.97-4.37 2.55-6.67 1.78-2.45-.8-4.23-3.27-4.18-5.85zM21.15 13h1.76l.02
                    1.78h1.77v1.77H22.9v1.78h-1.77v-1.77h-1.78v-1.77c.6 0 1.17 0 1.77-.02V13z"></path>
                </svg></a>
            <a href="/auth/twitter"><svg class="twit-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <circle fill="#5FA9DD" cx="15.05" cy="15" r="15"></circle>
                    <path fill="#F2F2F2" d="M24.24 10.78c-.64.28-1.33.48-2.06.56.74-.44 1.3-1.14
                    1.58-1.98-.7.4-1.46.7-2.28.87-.65-.7-1.6-1.13-2.62-1.13-1.98 0-3.58 1.6-3.58 3.58 0
                    .28.03.56.1.82-3-.15-5.63-1.58-7.4-3.75-.3.53-.5 1.15-.5 1.8 0 1.25.65 2.35 1.6
                    3-.58-.03-1.13-.2-1.6-.46v.04c0 1.73 1.22 3.18 2.86 3.5-.3.1-.62.14-.94.14-.23 0-.46-.02-.68-.07.46
                    1.44 1.78 2.47 3.35 2.5-1.22.97-2.77 1.54-4.45 1.54-.3 0-.58-.02-.86-.05 1.6 1 3.47 1.6 5.5 1.6
                    6.6 0 10.2-5.46 10.2-10.2v-.47c.7-.5 1.3-1.13 1.78-1.85zm0 0"></path>
                </svg></a>
            <!--
                    <svg class="vk-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" data-uloginbutton="vkontakte">
                        <circle fill="#4D77A2" cx="15" cy="15" r="15"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M14.43
                                21.58h1.18s.37-.04.55-.24c.16-.18.16-.5.16-.5s0-1.6.72-1.82c.72-.23 1.65 1.52 2.63 2.2.75.5 1.3.4
                                1.3.4l2.64-.04s1.37-.1.72-1.17c-.06-.08-.38-.8-1.96-2.25-1.65-1.53-1.43-1.28.56-3.93 1.2-1.62
                                1.7-2.6 1.54-3.02-.14-.4-1.03-.3-1.03-.3l-2.97.02s-.22-.03-.38.07c-.16.08-.26.3-.26.3s-.47
                                1.25-1.1 2.32c-1.3 2.23-1.84 2.35-2.06 2.2-.5-.3-.37-1.3-.37-1.98
                                0-2.17.32-3.08-.65-3.3-.32-.1-.56-.14-1.38-.15-1.06-.02-1.96
                                0-2.46.24-.33.17-.6.54-.43.56.2.02.64.12.87.44.3.4.3 1.34.3 1.34s.17 2.55-.4
                                2.87c-.4.22-.96-.23-2.13-2.26-.6-1.05-1.05-2.2-1.05-2.2s-.1-.22-.24-.33c-.18-.14-.45-.2-.45-.2l-2.8.03s-.43
                                0-.6.2c-.13.16 0 .5 0 .5s2.2 5.15 4.7 7.75c2.3 2.38 4.88 2.23 4.88 2.23z"/>
                    </svg>
            -->
        </div>
    </form>


    <form class="form-body register" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" class="logo" width="187" height="auto" viewBox="0 0 916.183 325.853"><title>logo</title><path d="M137.6,246.023" fill="#ea6a6a" stroke="#ea6a6a" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><path d="M319.994,116.753a206.737,206.737,0,0,1-3.766,24.607C294.643,230.8,267.472,290.452,243.548,300.94l-.062.027c-23.949,10.462-86.215-9.983-166.581-54.689C37.68,224.453,6.639,180.567,25.711,131.717A88,88,0,0,1,139.7,81.746a10.04,10.04,0,0,0,12.982-5.692A88,88,0,0,1,266.665,26.086c20.557,8.026,34.432,21.992,42.85,38.716L327.7,56.716A98.928,98.928,0,0,0,273.939,7.455,108.024,108.024,0,0,0,137.913,60.029,108.159,108.159,0,0,0,7.082,124.444C-3.283,150.989-2.253,178.8,10.06,204.859c11.206,23.719,31.492,44.636,57.123,58.9C91.2,277.119,127,295.727,161.135,308.49c27.119,10.141,49.1,15.184,66.4,15.184,9.343,0,17.323-1.471,24.012-4.4l.076-.033c19.058-8.381,36.488-32.515,53.286-73.776,13.738-33.745,24.31-72.684,30.76-99.407a147.828,147.828,0,0,0,4.168-36.913Z" fill="#ea6a6a"/><path d="M237.261,126.612c-9.324,3.938-19.374,8.406-29.862,13.4-45.03,21.46-107.635,57.374-150.164,106.6-19.329,22.374-27.6,40.361-22.7,49.35,4.495,8.239,16.8,14.676,34.1,16.855,9.562,1.2,41.245,3.585,41.245,3.585s-26.161,7.039-35.831,8.431c-29.014,4.176-49.245-4.967-57.062-19.279C7.316,287.853,15.531,264.3,42.1,233.542c44.871-51.937,110.154-89.43,157.019-111.735,10.888-5.183,21.265-9.794,30.861-13.846Z" fill="#ea6a6a"/><path d="M335.785,90.785q5.042-5.167,3.838-9.875-1.972-4.441-9.127-5.381a31.134,31.134,0,0,0-14.4,1.577L300.84,82.395,263.107,51.488a2.076,2.076,0,0,0-2.177-.42l-12.2,4.229a2.214,2.214,0,0,0-1.419,1.455,2.408,2.408,0,0,0,.344,2.072l23.922,33.723-24.687,8.565-10.806-9.446a1.487,1.487,0,0,0-.481-.31,2.231,2.231,0,0,0-1.757-.139l-9.178,3.238a2.41,2.41,0,0,0-1.355,1.323,2.13,2.13,0,0,0,.115,1.88l10.293,19.976,4.288,22.062a2.54,2.54,0,0,0,1.134,1.58l.131.064a2.22,2.22,0,0,0,1.753.137l9.15-3.17a2.181,2.181,0,0,0,1.481-1.743l2.635-14.1,24.691-8.562,2.092,41.3a1.97,1.97,0,0,0,.852,1.682,1.582,1.582,0,0,0,.419.283,2.014,2.014,0,0,0,1.4.205l11.211-2.176a2.174,2.174,0,0,0,1.8-1.746l11.4-49.658L323.5,98.464a31.171,31.171,0,0,0,12.287-7.679Zm0,0" fill="#ea6a6a"/><path d="M424.239,290.622V279.587c-8.123,9.2-16.245,13.026-28.2,13.026-24.828,0-42.759-18.544-42.759-44.139,0-25.9,18.084-44.752,43.219-44.752,12.261,0,20.69,3.985,27.74,13.334V205.716h18.7v84.905Zm-25.594-68.2c-14.56,0-24.828,11.034-24.828,26.514,0,14.866,10.269,24.981,25.135,24.981,15.479,0,24.675-11.035,24.675-25.135C423.626,233.3,413.2,222.421,398.645,222.421Z" fill="#ea6a6a"/><path d="M458.106,290.622V205.716H478.49v84.905Zm.153-97.166V173.072h20.383v20.384Z" fill="#ea6a6a"/><path d="M575.958,318.974H554.042l15.939-36.322-31.112-76.936h23.3l18.851,55.02,20.537-55.02H625Z" fill="#ea6a6a"/><path d="M683.236,292.614c-12.567,0-20.69-3.524-29.426-12.874v10.882h-18.7V177.363H655.5v36.169c7.816-7.815,15.326-10.881,26.36-10.881,24.369,0,42.76,19.311,42.76,44.905S707.145,292.614,683.236,292.614Zm-4.292-71.266c-14.253,0-24.674,10.882-24.674,26.208,0,15.479,10.421,26.36,25.134,26.36,14.56,0,24.675-10.729,24.675-26.208C704.08,232.537,693.5,221.348,678.945,221.348Z" fill="#ea6a6a"/><path d="M803.542,290.622V279.587c-8.122,9.2-16.245,13.026-28.2,13.026-24.828,0-42.76-18.544-42.76-44.139,0-25.9,18.085-44.752,43.22-44.752,12.26,0,20.689,3.985,27.739,13.334V205.716h18.7v84.905Zm-25.594-68.2c-14.56,0-24.828,11.034-24.828,26.514,0,14.866,10.269,24.981,25.134,24.981,15.479,0,24.675-11.035,24.675-25.135C802.929,233.3,792.508,222.421,777.948,222.421Z" fill="#ea6a6a"/><path d="M867.14,318.974H845.224l15.939-36.322-31.111-76.936h23.295l18.851,55.02,20.537-55.02h23.448Z" fill="#ea6a6a"/><path d="M514.64,225.663v64.958H494.258V205.716h18.7v8.275" fill="#ea6a6a"/><path d="M532.913,226.235l2.258-19.811c-9.821,1.619-20.489,3.582-31.759,5.96-3.526.745-4.927,1.548-8.656,2.4l.374,20.2c5.828-1.4,6.541-2.665,11.906-3.8C516.081,229.275,524.752,227.639,532.913,226.235Z" fill="#ea6a6a"/></svg>
        <div class="close-cross">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                <path fill="#FFF" d="M3.4 0l2.2 2.6c.6.7 1 1.3 1.5 2h.1c.5-.7 1-1.3 1.5-2L10.8 0h3L8.6 5.8 14 12h-3.2L8.6 9.3C8 8.6 7.5 7.9 7 7.2h-.1c-.5.7-1 1.4-1.6 2.1L3.1 12H0l5.4-6.1L.3 0h3.1z"></path>
            </svg>
        </div>
        <input type="text" class="nickname-input input-field" placeholder="Nickname...">
        <input type="email" class="email-input input-field" placeholder="E-mal...">
        <input type="password" class="password-input input-field" placeholder="Password...">
        <input type="password" class="password-confirm-input input-field" placeholder="Confirm password...">
        <button class="register-button">Register</button>
        <a href="#" class="login-link">Log in</a>
        <span class="authorization-info">register</span>
        <div class="authorization-social-group">
            <a href="/auth/facebook"><svg class="fb-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <circle fill="#3C5A99" cx="15" cy="15" r="15"></circle>
                    <path fill="#F2F2F2" d="M18.8 15.6H16v9.8h-4v-9.8h-2V12h2v-2c0-1.7.8-4.2 4-4.2h3v3.4h-2c-.4 0-1 .2-1 1v2h3l-.2 3.4zm0 0"></path>
                </svg></a>
            <a href="/auth/google"><svg class="gplus-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                    <circle fill="#DC4F42" cx="15" cy="15" r="15"></circle>
                    <path fill="#FFF" d="M5.22 15.67C5.1 12.47 7.9 9.53 11.1 9.5c1.6-.14 3.2.5 4.43 1.52-.5.56-1.02
                    1.1-1.57 1.62-1.08-.66-2.4-1.16-3.66-.72-2.04.6-3.28 3-2.52 5 .62 2.08 3.16 3.23 5.15 2.35 1.04-.37
                    1.7-1.32 2-2.34-1.17-.02-2.35 0-3.53-.04v-2.1c1.97-.02 3.94-.02 5.9 0 .13 1.72-.12 3.56-1.24
                    4.94-1.53 1.97-4.37 2.55-6.67 1.78-2.45-.8-4.23-3.27-4.18-5.85zM21.15 13h1.76l.02
                    1.78h1.77v1.77H22.9v1.78h-1.77v-1.77h-1.78v-1.77c.6 0 1.17 0 1.77-.02V13z"></path>
                </svg></a>
            <a href="/auth/twitter"><svg class="twit-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" data-uloginbutton="twitter">
                    <circle fill="#5FA9DD" cx="15.05" cy="15" r="15"></circle>
                    <path fill="#F2F2F2" d="M24.24 10.78c-.64.28-1.33.48-2.06.56.74-.44 1.3-1.14
                    1.58-1.98-.7.4-1.46.7-2.28.87-.65-.7-1.6-1.13-2.62-1.13-1.98 0-3.58 1.6-3.58 3.58 0
                    .28.03.56.1.82-3-.15-5.63-1.58-7.4-3.75-.3.53-.5 1.15-.5 1.8 0 1.25.65 2.35 1.6
                    3-.58-.03-1.13-.2-1.6-.46v.04c0 1.73 1.22 3.18 2.86 3.5-.3.1-.62.14-.94.14-.23 0-.46-.02-.68-.07.46
                    1.44 1.78 2.47 3.35 2.5-1.22.97-2.77 1.54-4.45 1.54-.3 0-.58-.02-.86-.05 1.6 1 3.47 1.6 5.5 1.6
                    6.6 0 10.2-5.46 10.2-10.2v-.47c.7-.5 1.3-1.13 1.78-1.85zm0 0"></path>
                </svg></a>
            <!--
                    <svg class="vk-ico svg-ico" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" data-uloginbutton="vkontakte">
                        <circle fill="#4D77A2" cx="15" cy="15" r="15"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M14.43
                                21.58h1.18s.37-.04.55-.24c.16-.18.16-.5.16-.5s0-1.6.72-1.82c.72-.23 1.65 1.52 2.63 2.2.75.5 1.3.4
                                1.3.4l2.64-.04s1.37-.1.72-1.17c-.06-.08-.38-.8-1.96-2.25-1.65-1.53-1.43-1.28.56-3.93 1.2-1.62
                                1.7-2.6 1.54-3.02-.14-.4-1.03-.3-1.03-.3l-2.97.02s-.22-.03-.38.07c-.16.08-.26.3-.26.3s-.47
                                1.25-1.1 2.32c-1.3 2.23-1.84 2.35-2.06 2.2-.5-.3-.37-1.3-.37-1.98
                                0-2.17.32-3.08-.65-3.3-.32-.1-.56-.14-1.38-.15-1.06-.02-1.96
                                0-2.46.24-.33.17-.6.54-.43.56.2.02.64.12.87.44.3.4.3 1.34.3 1.34s.17 2.55-.4
                                2.87c-.4.22-.96-.23-2.13-2.26-.6-1.05-1.05-2.2-1.05-2.2s-.1-.22-.24-.33c-.18-.14-.45-.2-.45-.2l-2.8.03s-.43
                                0-.6.2c-.13.16 0 .5 0 .5s2.2 5.15 4.7 7.75c2.3 2.38 4.88 2.23 4.88 2.23z"/>
                    </svg>
            -->
        </div>
    </form>
</div>
<%- include('footer') %>