<%- include('header') %>
<%- include('sidemenu') %>

<div class="terms">

    <h1 class="terms-title">Privacy policy</h1>

    <h3 class="terms-item">Here we wrote what information we collect and how we use it. All information are not disclosed to third parties, and used only within the company Toptomo ltd. By entering and/or registering on the YouProud (hereafter, Platform) you give your consent and accept the following conditions:</h3>

            <h3 class="terms-item">A. Age restrictions</h3>

            <p class="terms-text">A.1 You must be eighteen or over to enter and register as a member to use this Platform. Children under eighteen years of age are prohibited from using our Platform or any of our services. We ask that children would not submit information to us. Membership in the service is void where prohibited.</p>

            <p class="terms-text">A.2 By using and/or viewing this Platform you represent and warrant under penalty of perjury the following: </p>

            <p class="terms-text">A.2.1 That you have the right, authority, and capacity to enter into this agreement and to abide by all of the terms and conditions of this agreement and that you are at least 18-years old.</p>

            <p class="terms-text">A.2.2 That you will not permit any person(s) under the age of majority to have access to any of the materials contained within this webPlatform. </p>

            <p class="terms-text">A.2.3 That you represent and warrant that you have not and will not use and/or view the Platform(s) in a restricted location - namely a place, country, or location in which doing so would, or could be deemed a violation of any law, regulation, rule, ordinance, edict or custom.</p>

            <h3 class="terms-item">B. Information we collect</h3>

            <p class="terms-text">B.1. During the registration process for this Platform, you must provide us with certain personally identifiable information including, but not limited to, your name, email address and credit card and bank information. This information is used to contact the user about the services on our Platform for which they have expressed interest. </p>

            <p class="terms-text">B.1.1. During registration we will give you opportunity to provide us with additional information, such as your interests, hobbies and other.</p>

            <p class="terms-text">B.1.2. In some cases we may ask for additional information for security reasons or to provide specific services to you.</p>

            <p class="terms-text">B.1.3. Once you register you can visit your profile at any time to add or remove supplementary personal information about yourself. You can add basic information about yourself, such as information about your hometown, family, relationships or other specific views. You can also add other information about yourself including your activities, interests, as well as more information about your education and occupation.</p>

            <p class="terms-text">B.1.4. If a user's personal information changes, or if a user no longer desires our service, we will endeavor to provide a way to correct, update or remove that user's personal data provided to us. This can usually be done at the member information page or by contacting our WebPlatform administrators.</p>

            <p class="terms-text">B.1.5. We reserve the right to change certain settings of your account concerning news subscription, banners, product offerings and other means of fulfillment of this Platform's content and services in certain circumstances, related to marketing and promotional activities.</p>

            <p class="terms-text">B.2. We may retain the details of transactions or payments you make on this Platform. However, we will only keep your payment source account number with your consent.</p>

            <p class="terms-text">B.3. Cookie information. Cookies are small pieces of data that are stored by a user's web browser on the user's hard drive for a period of time. Cookies may record information a user accesses on one webpage to simplify subsequent interactions with that webPlatform by the same user, or to use the information to streamline the user's transactions on related webpages.</p>

            <p class="terms-text">B.3.1. Cookies make it easier for a user to move from webpage to webpage and to complete transactions over the Internet.</p>

            <p class="terms-text">B.3.2. We use "cookies" to make this Platform easier for you to use, to make our advertising better, and to protect both you and this Platform.</p>

            <p class="terms-text">B.3.3. This Platform also uses "cookies" to store and sometimes track information to make your online experience easier and more personalized.</p>

            <p class="terms-text">B.3.4. Most major web browsers are set up so that they will initially accept cookies, but you may modify your computer's preferences to issue you an alert when a cookie is downloaded, or to disable the ability of third parties to download a cookie to you. If you choose to reject all cookies, there might be areas of this Platform that may not function properly.</p>

            <p class="terms-text">B.4. We reserve the right to use your IP address to determine your location.</p>

            <p class="terms-text">B.5. If You send us personal correspondence, such as emails or letters, or if other users this Platform or third parties send us correspondence about your activities or postings on this Platform, we have a right to collect such information into a file that is accessed only by authorized our personnel or representatives. We may also collect comments about you made by other users of the Platform.</p>

            <h3 class="terms-item">C. How we use collected information</h3>

            <p class="terms-text">C.1. We use the information we collect to try to provide a safe, efficient, and customized experience. The main aim of use of collected information is to provide our services and features to you, to measure and improve those services and features, and to provide you with customer support.</p>

            <p class="terms-text">C.2. We use collected information internally to improve our marketing efforts, analyze the Platform usage, improve our content and product offerings and customize the content of the Platform and layout. These uses allows us to improve this Platform and better tailor your online experience. </p>

            <p class="terms-text">C.3. We may use collected information to deliver information that, in some cases, is targeted to your interests, such as banners and promotions.</p>

            <p class="terms-text">C.4. We may also send you periodic informational updates via email.</p>

            <p class="terms-text">C.5. We may use collected information to resolve disputes, troubleshoot problems and enforce any agreements, policies and rules governing the use of this Platform.</p>

            <h3 class="terms-item">D. Disclosure of collected information</h3>

            <p class="terms-text">D.1. We <strong>DO NOT</strong> sell or rent any of your personal information to third parties for marketing purposes without your permission. However, we do provide collected information to our service providers (e.g., credit card processing companies, billing services) as reasonably necessary or appropriate to provide services on the Platform.</p>

            <p class="terms-text">D.2. We do disclose information in the aggregate to advertisers and for other marketing and promotional purposes. However, in these situations, we <strong>DO NOT</strong> disclose information in any form that could be used to identify you personally such as password of your account of the Platform, credit card number and bank account number.</p>

            <p class="terms-text">D.3. In response to compulsory (required) governmental and/or third party inquiries, we may disclose your personal information to comply with a court order, subpoena, and search warrant.</p>

            <p class="terms-text">D.4. We expressly reserve the right to disclose your personal information when we have a good faith belief that disclosure is necessary to protect our rights, or to enforce our agreements, policies, and rules governing your use of the Platform, or to cooperate voluntarily with law enforcement inquiries.</p>

            <p class="terms-text">D.5. If the ownership of all or substantially all of our business changes, we may transfer your information to the new owner so that the service can continue to operate. In such a case, your information would remain subject to the promises made in any pre-existing Privacy Policy.</p>

            <h3 class="terms-item">E. Your use of members' information</h3>

            <p class="terms-text">E.1. You may not use another members' information, whether private or not, for commercial purposes, to spam, to harass, or to make unlawful threats. We reserve the right to terminate those who misuse other members' information or who otherwise violate any user agreements, policies, or rules governing the use of the Platform.</p>

            <h3 class="terms-item">F. Member disputes</h3>

            <p class="terms-text">F.1. You are solely responsible for your interactions with other members. Because we are not involved in member interactions, in the event that you have a dispute with other user.</p>

            <h3 class="terms-item">G. Security</h3>

            <p class="terms-text">G.1. This Platform use reasonable security measures to help protect and prevent the loss, misuse, and alteration of the information under our control.</p>

            <h3 class="terms-item">H. Disclaimers</h3>

            <p class="terms-text">H.1. We and our officers, directors, agents, subsidiaries and employees are not responsible for any incorrect or inaccurate content posted on the Platform, whether caused by users.</p>

            <p class="terms-text">H.2. We assume no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user and/or member communications.</p>

            <p class="terms-text">H.3. We are not responsible for any problems or technical malfunction of any telephone network or lines, computer on-line-systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any webPlatform or combination thereof, including injury or damage to users and/or members or to any other person's computer related to or resulting from participating or downloading materials in connection with the Platform and/or in connection with the service.</p>

            <p class="terms-text">H.4. Under no circumstances we will be responsible for any loss or damage resulting from anyone's use of the Platform or the service and/or any content posted on the Platform or transmitted to members.</p>

            <h3 class="terms-item">I. Limitation on liability</h3>

            <p class="terms-text">I.1. In no event shall YouProud, nor any of its directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this WebPlatform whether such liability is under contract. YouProud, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this WebPlatform.</p>

            <h3 class="terms-item">J. Reservations to this Privacy Policy</h3>

            <p class="terms-text">J.1. The Platform reserves its right, in their sole and absolute discretion, to revise, amend, modify or revoke this Privacy Policy at any time and in any manner to the fullest extent permitted by law. Changes to this Privacy Policy will be effective by posting revisions on the Platform's Privacy Policy page.</p>

            <p class="terms-text">J.2. Any changes posted on this page will be effective from the date of posting.</p>

            <p class="terms-text">J.3. It is your responsibility to check Privacy Policy and terms of use of the Platform.</p>
</div>


<%- include('footer-info') %>

<!--end page terms-->
<%- include('footer') %>



