<%- include('header') %>
<%- include('sidemenu') %>
	<div class="page-settings">
        <div class="msg-privacy-button">
            Don't write me
            <svg class="ico" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"><title>mp1</title><circle cx="8.5" cy="8.5" r="8.5" fill="red"/><rect x="3.2" y="6.788" width="10.6" height="3.424" fill="#fff"/></svg>
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="16.391" height="8.196" viewBox="0 0 16.391 8.196"><title>arrow-triangle</title><polyline points="16.391 0 8.196 8.196 0 0" fill="#666"/></svg>
        </div>
        <hr>

        <h4>Want to visit:</h4>
        <div class="tag-place-container">
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Egypt</div>
            <div class="tag-place">USA</div>
            <div class="tag-place">Poland</div>
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Egypt</div>
            <div class="tag-place">USA</div>
            <div class="tag-place">Poland</div>
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Egypt</div>
            <div class="tag-place">USA</div>
            <div class="tag-place">Poland</div>
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Thailand</div>
            <div class="tag-place">Egypt</div>
            <div class="tag-place">USA</div>
            <div class="tag-place">Poland</div>
            <div class="tag-place">Thailand</div>
        </div>
        <hr>
        <h4>Search</h4>
        <div class="select-gender">
            <div class="gender-container active">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.077" height="27.317" viewBox="0 0 21.077 27.317"><title>female</title><path d="M21,26.2a11.566,11.566,0,0,0-6.335-5.763V18.762c1.364-.075,3.936-.422,5.445-1.965a.787.787,0,0,0,.2-.746.778.778,0,0,0-.544-.549c-.023-.006-2.011-.688-1.612-4.757a17.675,17.675,0,0,0-.081-4.636A7.052,7.052,0,0,0,16.532,2.52a4.111,4.111,0,0,0-3.179-1.37H13.2A4.852,4.852,0,0,0,9.989,0,6.624,6.624,0,0,0,7.6.474L7.562.485A5.923,5.923,0,0,0,4.695,2.538C3.51,4.11,2.943,6.439,3.013,9.456s-.428,4.5-.855,5.214c-.352.584-.688.7-.774.723a.71.71,0,0,0-.682.382.789.789,0,0,0,.075.844,4.111,4.111,0,0,0,1.451,1.173A9.565,9.565,0,0,0,6.382,18.8v1.59A11.62,11.62,0,0,0,.077,26.2a.776.776,0,0,0,.7,1.115H20.3a.779.779,0,0,0,.659-.364A.8.8,0,0,0,21,26.2Zm-18.9-.445a10.009,10.009,0,0,1,5.289-4.069.78.78,0,0,0,.543-.74V18.034a.78.78,0,0,0-.786-.78A8.275,8.275,0,0,1,2.8,16.323c.052-.052.11-.1.168-.162,1.139-1.185,1.676-3.451,1.6-6.74C4.423,3.347,7.007,2.364,8.1,1.948l.035-.012a5.281,5.281,0,0,1,1.838-.37,3.122,3.122,0,0,1,2.318.9.761.761,0,0,0,.671.278c.127-.012.254-.017.376-.017a2.572,2.572,0,0,1,2.023.855c1.1,1.214,1.549,3.775,1.225,7.023-.324,3.277.7,4.919,1.584,5.717a9.252,9.252,0,0,1-4.161.907H13.9a.8.8,0,0,0-.566.22.777.777,0,0,0-.237.561v2.988a.775.775,0,0,0,.543.74,10.1,10.1,0,0,1,5.318,4.029H2.105Zm0,0" fill="#666"/></svg>
                Female
            </div>
            <div class="gender-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="26.313" height="27.576" viewBox="0 0 26.313 27.576"><title>male</title><path d="M26.313,25.653V24.186a4.9,4.9,0,0,0-1.867-3.841,42.252,42.252,0,0,0-6.458-4.072V14.6a8.124,8.124,0,0,0,.485-1.438c.722-.259,1.117-1.32,1.382-2.256.355-1.247.316-2.121-.1-2.606.44-2.4.243-4.163-.581-5.251a2.584,2.584,0,0,0-1.28-.919A4.727,4.727,0,0,0,16.329.762,5.56,5.56,0,0,0,13.447,0c-.192,0-.383.011-.553.023a5.292,5.292,0,0,0-1.4.265c-.006,0-.011.006-.017.006a6.248,6.248,0,0,0-1.483.756,7.833,7.833,0,0,0-1.483,1.23A6.169,6.169,0,0,0,6.848,5.195a5.484,5.484,0,0,0-.056,2.617,1.307,1.307,0,0,0-.271.259c-.389.513-.406,1.32-.062,2.544a3.977,3.977,0,0,0,1.088,2.1,7.686,7.686,0,0,0,.778,2.206v1.359a41.788,41.788,0,0,0-6.458,4.073A4.89,4.89,0,0,0,0,24.192v1.467a1.92,1.92,0,0,0,1.918,1.918H24.4a1.925,1.925,0,0,0,1.918-1.923Zm-24.937,0V24.186a3.5,3.5,0,0,1,1.331-2.747,40.219,40.219,0,0,1,6.487-4.05.907.907,0,0,0,.513-.824V14.733a.694.694,0,0,0-.1-.35,6.235,6.235,0,0,1-.761-2.251.7.7,0,0,0-.513-.564,3.742,3.742,0,0,1-.547-1.331,3.14,3.14,0,0,1-.18-1.269A.71.71,0,0,0,8.19,8.7.685.685,0,0,0,8.3,8.049a4.161,4.161,0,0,1-.1-2.516A4.855,4.855,0,0,1,9.51,3.243a6.345,6.345,0,0,1,1.241-1.026c.006-.006.017-.011.023-.017a4.752,4.752,0,0,1,1.162-.6.02.02,0,0,0,.011-.005A3.741,3.741,0,0,1,12.984,1.4a4.4,4.4,0,0,1,2.657.558,3.24,3.24,0,0,1,1.207,1.094.631.631,0,0,0,.547.367,1.115,1.115,0,0,1,.7.5c.333.474.806,1.692.214,4.535a.69.69,0,0,0,.384.767,2.737,2.737,0,0,1-.169,1.3,4.681,4.681,0,0,1-.491,1.252.662.662,0,0,0-.389.045.694.694,0,0,0-.412.513,6.989,6.989,0,0,1-.558,1.805.7.7,0,0,0-.068.3v2.121a.913.913,0,0,0,.513.824,40.462,40.462,0,0,1,6.481,4.05,3.5,3.5,0,0,1,1.331,2.747v1.467a.539.539,0,0,1-.536.536H1.918a.534.534,0,0,1-.541-.536Zm0,0" fill="#666"/></svg>
                Male
            </div>
        </div>

        <div class="input-range-wrapper">
            <div class="input-title">
                Age:
            </div>
            <input name="ageFrom" class="age-input from-age">
            <div class="dash"></div>
            <input name="ageTo" class="age-input to-age">
        </div>
        <div id="pickSlider_main" class="slider-ui" style="width: 85%; margin: 20px auto 0;"></div>
        <div class="search-btn" style="margin-top: 20px; margin-bottom: 20px;">Search</div>
        <hr>
        <h4>Notifications</h4>
        <div class="notifications-settings-grid">
            <div class="notifications-setting-header">
                <p>Email</p>
                <p>Push</p>
                <p>Sound</p>
            </div>
            <div class="notification-settings-line">
                <p>New message</p>
                <div class="triggers-container">
                    <div class="trigger"><div class="trigger-dot"></div></div>
                    <div class="trigger active"><div class="trigger-dot"></div></div>
                    <div class="trigger"><div class="trigger-dot"></div></div>
                </div>
            </div>
            <div class="notification-settings-line">
                <p>Being added to favorites</p>
                <div class="triggers-container">
                    <div class="trigger"><div class="trigger-dot"></div></div>
                    <div class="trigger active"><div class="trigger-dot"></div></div>
                    <div class="trigger"><div class="trigger-dot"></div></div>
                </div>
            </div>
            <div class="notification-settings-line">
                <p>Photo likes</p>
                <div class="triggers-container">
                    <div class="trigger"><div class="trigger-dot"></div></div>
                    <div class="trigger active"><div class="trigger-dot"></div></div>
                    <div class="trigger"><div class="trigger-dot"></div></div>
                </div>
            </div>
            <div class="notification-settings-line">
                <p>Receiving new gifts</p>
                <div class="triggers-container">
                    <div class="trigger"><div class="trigger-dot"></div></div>
                    <div class="trigger active"><div class="trigger-dot"></div></div>
                    <div class="trigger active"><div class="trigger-dot"></div></div>
                </div>
            </div>
        </div>
        <hr>
        <!--<div class="account-line">
            <h4>Account</h4>
            <p>Next bill date: 6/6/18</p>
            <button>Subscription</button>
        </div>
        <hr>-->
        <div class="logout-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.657" height="16" viewBox="0 0 20.657 16"><title>logout</title><path d="M18.879,0H9.528A1.777,1.777,0,0,0,7.75,1.778V5.333H9.528V1.778h9.351V14.222H9.528V10.667H7.75v3.556A1.777,1.777,0,0,0,9.528,16h9.351a1.777,1.777,0,0,0,1.778-1.778V1.778A1.777,1.777,0,0,0,18.879,0ZM5.7,4.813,4.444,3.556,0,8l4.444,4.444L5.7,11.187l-2.3-2.3H12V7.111H3.4l2.3-2.3Z" fill="#4d4d4d"/></svg>
            Log out
        </div>
        <div class="sub-step-one">
            <div class="btn-sub">
                <div class="text">Subscribe!</div>
                <div class="price-part">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39.979"><defs><style>.a{fill:#ff5a60;}</style></defs><g transform="translate(-19060.063 -1576.23)"><path class="a" d="M466.648,424.539a2.471,2.471,0,0,0-3.059-3.09,3.992,3.992,0,0,0-7.066,1.334,2.885,2.885,0,1,0,1.307,5.484,3.6,3.6,0,0,0,5.181.734,3.024,3.024,0,0,0,3.637-4.463Z" transform="translate(18629.127 1186.424)"/><path class="a" d="M319.439,280.386c.138-.654-2.308-8.032-2.258-8.232a10.08,10.08,0,0,0,1.845-1.84,3.116,3.116,0,0,0-1.151-1.154,6.118,6.118,0,0,0-1.2,1.171,6.408,6.408,0,0,1-.462-2.71c.189-.189,2.258-2.087,3.549-3.4a4.059,4.059,0,0,0,1.167-2.99,4.059,4.059,0,0,0-2.99,1.166c-1.316,1.29-3.209,3.36-3.4,3.55a6.366,6.366,0,0,1-2.71-.462,6.187,6.187,0,0,0,1.171-1.2,3.1,3.1,0,0,0-1.154-1.15,10.152,10.152,0,0,0-1.84,1.845c-.2.052-7.578-2.394-8.232-2.258s-1.436.733-1.259.91,5.874,2.734,6.863,3.364a13.445,13.445,0,0,1,2.887,2.672c0,.221-5.088,5.932-5.384,6.172s-2.49-.822-3.342-.7-1.511.748-1.457.951,3.348,1.664,3.184,1.95a9.273,9.273,0,0,0-.951,1.811,8.984,8.984,0,0,0,1.811-.951c.285-.164,1.754,3.131,1.95,3.184s.832-.606.945-1.457-.945-3.045-.7-3.342,5.95-5.384,6.172-5.384a13.384,13.384,0,0,1,2.672,2.887c.625.985,3.186,6.685,3.364,6.863S319.3,281.039,319.439,280.386Z" transform="translate(18764.49 1326.21)"/><path class="a" d="M381.516,380.859a9.331,9.331,0,0,1-6.6-3.179l-.758.67a10.34,10.34,0,0,0,7.786,3.527H382Z" transform="translate(18699.211 1223.563)"/><path class="a" d="M300.607,181.124a6.849,6.849,0,0,0-8.9-8.732,11.555,11.555,0,0,0-20.926,3.988c-.153-.008-.3-.013-.452-.013a8.132,8.132,0,0,0-3.072,15.661,2.875,2.875,0,0,1,.821-.248,1.647,1.647,0,0,1,.225-.014,7.685,7.685,0,0,1,1.985.459c.319.1.735.238.951.276.2-.206.586-.63,1.063-1.16a7.122,7.122,0,1,1-1.978-13.963,7.236,7.236,0,0,1,.807.046l.475.053.08-.475a10.542,10.542,0,0,1,19.388-3.719l.238.384.409-.189A5.838,5.838,0,0,1,299.568,181l-.112.27.177.232a7.475,7.475,0,0,1,1.557,4.6,7.557,7.557,0,0,1-7.547,7.547,7.467,7.467,0,0,1-3.4-.812l-.316-.159-.258.238a9.311,9.311,0,0,1-3.608,2.1c.106.372.2.7.27.976a10.312,10.312,0,0,0,3.77-2.1,8.461,8.461,0,0,0,3.544.768A8.569,8.569,0,0,0,302.2,186.1,8.473,8.473,0,0,0,300.607,181.124Z" transform="translate(18797.863 1409)"/></g></svg>
                    <span class="price">
                        25
                    </span>
                    <div class="info">
                        <span>$</span>
                        <span>/ mo.</span>
                    </div>
                </div>
            </div>
            <div class="logout-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20.657" height="16" viewBox="0 0 20.657 16"><title>logout</title><path d="M18.879,0H9.528A1.777,1.777,0,0,0,7.75,1.778V5.333H9.528V1.778h9.351V14.222H9.528V10.667H7.75v3.556A1.777,1.777,0,0,0,9.528,16h9.351a1.777,1.777,0,0,0,1.778-1.778V1.778A1.777,1.777,0,0,0,18.879,0ZM5.7,4.813,4.444,3.556,0,8l4.444,4.444L5.7,11.187l-2.3-2.3H12V7.111H3.4l2.3-2.3Z" fill="#4d4d4d"/></svg>
                Log out
            </div>
        </div>
        <div class="sub-step-two">
            <div class="p-type">
                <input name="selector" type="radio" id="pp">
                <label for="pp"><img src="/img/paypall.png"></label>
                <div class="check"></div>
            </div>
            <div class="p-type">
                <input name="selector" type="radio" id="stripe">
                <label for="stripe"><img src="/img/stripe.png"></label>
                <div class="check"></div>
            </div>
            <div class="p-type">
                <input name="selector" type="radio" id="lpb">
                <label for="lpb"><img src="/img/lpb.png"></label>
                <div class="check"></div>
            </div>
            <div class="btn-sub">
                <div class="text"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.002 12.393"><path d="M7.257 12.393a1.631 1.631 0 0 1-1.163-.486L.402 6.215A1.649 1.649 0 0 1 2.727 3.89l4.529 4.529L15.273.402a1.649 1.649 0 0 1 2.325 2.325l-9.18 9.18a1.631 1.631 0 0 1-1.163.486z" fill="#fff"/></svg>
                    Purchase</div>
                <div class="price-part">
                    <span class="price">
                        25
                    </span>
                    <div class="info">
                        <span>$</span>
                        <span><br></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
<%- include('footer-info') %>
<%- include('footer') %>