<%- include('header') %>
<%- include('sidemenu') %>

<div class="terms">

    <h1 class="terms-title">TERMS AND CONDITIONS</h1>

     <h3 class="terms-item">1. Introduction</h3>

            <p class="terms-text">YouProud, Standard Terms and Conditions written on this webpage shall manage your use of this platform.</p>

            <p class="terms-text">These Terms will be applied fully and affect to your use of this Platform. By using this Platform, you agreed to accept all terms and conditions written in here. You must not use this platform if you disagree with any of these Terms and Conditions.</p>

            <h3 class="terms-item">2. Intellectual Property Rights</h3>

            <p class="terms-text">Other than the content you own, under these Terms, YouProud and/or its licensors own all the intellectual property rights and materials contained in this Platform.
                <br>You are granted limited license only for purposes of viewing the material contained on this Platform</p>

            <p class="terms-text">You are granted limited license only for purposes of viewing the material contained on this Platform.</p>

            <h3 class="terms-item">3. Moderation</h3>

            <p class="terms-text">Moderator of the site can exclude user from the search for such reasons as: <br>
                - Inaccurate personal information; <br>
                - Non-filling of personal information; <br>
                - Users’ complaints; <br>
                - Dissemination of obscene materials; <br>
                - Using indecent photos in profile. <br><br>
                You may delete your account by requesting Support service 24/7.
            </p>

            <h3 class="terms-item">4. Content Standards</h3>

            <p class="terms-text">In these Platform Standard Terms and Conditions, “Content Standartds” shall mean any audio, video text, images or other material you choose to display on this Platform. By displaying Your Content, you grant YouProud a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it within the service of a platform. Your Content must be your own and must not be invading any third-party’s rights. YouProud reserves the right to remove any of Your Content from this Platform at any time without notice.</p>

            <p class="terms-text">You are solely responsible for any content you post or actions you take via this platform and their consequences. All User Contributions must comply with these Content Standards and with all applicable national, regional, federal, state, local, and international laws and regulations. These Content Standards apply to any and all User Contributions and Interactive Services.</p>

            <p class="terms-text">In addition, User Contributions must not:</p>

            <ul class="terms-list">
                <li>Contain any material which is defamatory, obscene, indecent, abusive, offensive, harassing, violent, hateful, inflammatory, endangers YouProud broader mission, or is otherwise objectionable.</li>
                <li>Promote sexually explicit or pornographic material, violence, or discrimination based on race, sex, religion, nationality, disability, sexual orientation or age.</li>
                <li>Infringe any patent, trademark, trade secret, copyright or other intellectual property rights of any other person.</li>
                <li>Violate the legal rights (including the rights of publicity and privacy) of others or contain any material that could give rise to any civil or criminal liability under applicable laws or regulations or that otherwise may be in conflict with these Terms of Use and our Privacy Policy.</li>
                <li>Be likely to deceive any person.</li>
                <li>Promote any illegal activity, or advocate, promote or assist any unlawful act.</li>
                <li>Be used to impersonate any person, or to misrepresent your identity or affiliation with any person or organization.</li>
                <li>Involve commercial activities or sales, such as contests, sweepstakes and other sales promotions, barter or advertising.</li>
                <li>Give the impression that they emanate from us or any other person or entity, if this is not the case</li>
            </ul>

            <h3 class="terms-item">5. Indemnification</h3>

            <p class="terms-text">You hereby indemnify to the fullest extent YouProud from and against any and/or all liabilities, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>

            <h3 class="terms-item">6. Assignment</h3>

            <p class="terms-text">The YouProud is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>

            <h3 class="terms-item">7. Entire Agreement</h3>

            <p class="terms-text">These Terms constitute the entire agreement between YouProud and you in relation to your use of this Platform, and supersede all prior agreements and understandings.</p>

            <h3 class="terms-item">8. Governing Law & Jurisdiction</h3>

            <p class="terms-text">These Terms will be governed by and interpreted in accordance with the laws of the USA, and you submit to the non-exclusive jurisdiction of the state and federal courts located in USA for the resolution of any disputes.</p>

            <h3 class="terms-item">9. Reservations to Terms and Conditions</h3>

            <p class="terms-text">We take no responsibility for the process of your travelling.
                <br>Any changes posted on this page will be effective from the date of posting. You have to check Terms and Conditions of the Platform.
            </p>
</div>

<%- include('footer-info') %>

<!--end page terms-->
<%- include('footer') %>



