<!DOCTYPE html>
<html lang="uk">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Цільова аудиторії</title>


    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/header1.css">
    <link rel="stylesheet" href="css/audience_core.css">


</head>
<body>

<div class="wrapper">
    <!-- Header -->
    <div class="header flexcol">

        <div class="ad-name">Реклама на нашому сайті</div>

        <div class="menu1 flexrow">

            <a href="territory_coverage.html" class="map-ref">
                <div class="menu-item flexcol">
                    <div class="sprite-wrapper map-wrapper header-map"></div>
                    <p class="menu-name">Територіальне охоплення</p>
                </div>
            </a>

            <a href="#" class="people-ref">
                <div class="menu-item flexcol">
                    <div class="sprite-wrapper people-wrapper header-people-active"></div>
                    <p class="menu-name active">Цільова аудиторія</p>
                </div>
            </a>

            <a href="facebook_audience.html" class="fb-ref">
                <div class="menu-item flexcol">
                    <div class="fb-wrapper sprite-wrapper header-fb"></div>
                    <p class="menu-name">Аудиторія Facebook</p>
                </div>
            </a>

            <a href="//ednist.info/adoffer" class="pc-ref">
                <div class="menu-item flexcol">
                    <div class="sprite-wrapper pc-wrapper header-pc"></div>
                    <p class="menu-name">Розміщення</p>
                </div>
            </a>

        </div>
        <!-- Menu end-->

    </div>
    <!-- Header end-->

    <!-- Main Content -->
    <div class="main-content flexcol">


        <p class="demography common-lh-ls">Демографія</p>


        <!-- Auditory info block -->
        <div class="flexrow">
            <div class="sprite-wrapper diagram"></div>
            <div class="sprite-wrapper man-percentage"></div>
            <div class="sprite-wrapper woman-percentage"></div>
        </div>


        <p class="auditory common-lh-ls">Цільова АУДИТОРІЯ</p>


        <div class="demography-info flexrow">
            <div class="sprite-wrapper man-ico"></div>
            <p class="man-title">Чоловіки, <br>35-45 років</p>

            <p class="man-info">
                Наша лояльна аудиторія – успішні, активні чоловіки віком 35-45 років з вищою освітою,
                достатком вище <br> середнього та усталеними звичками. Сформовані та зрілі особистості. Вони
                цікавляться <br> суспільно-політичним життям, прагнуть бути в курсі всіх актуальних подій, отримувати
                чітко <br> структуровану інформацію та згуртовані спільною ідеєю. Ядро аудиторії – постійні читачі зі
                всієї України, <br> лояльність яких зростає завдяки довірі до інформації, яка публікується у нас та
                задовольняє усі їх <br> запити.
            </p>
        </div>


        <div class="demography-info flexrow">
            <div class="sprite-wrapper woman-ico"></div>
            <p class="woman-title">Жінки, <br>25-35 років</p>

            <p class="woman-info">
                Молоді, емоційні жінки віком 25-35 років, значна частина яких – домогосподарки. Споживачки товарів, <br>
                послуг та новинок, які активно рекламуються. Їм властиве бажання «бути в тренді» та прагнення <br>
                втамувати
                «інформаційний голод». Їх об’єднують такі якості, як прагнення до згуртованості, <br> співчутливість,
                загострене почуття справедливості, довірливість та відданість нашому ресурсу.
            </p>
        </div>

    </div>
    <!-- Main content END --></div>

</body>
</html>