@charset "utf-8";
// Base
$font-family-base: 'PT Sans', sans-serif;
$font-size-base: 13px;
$font-size-large: 15px;
$menu-width: 275px;

$w-light: 300;

$z-header: 10;
$z-side-menu:10;
$z-login-register:100;
$z-quote-slider: 10;

//Colors
$body-color: #efefef;
$send-box-color: #f2f2f2;
$messages-color: #fadada;
$main-color: #ea6a6a;
$main-second-color: #EB008B;
$main-color-antagonist: #efefef;
$complement-color: #cccccc;
$complement-color-darker: #5C5C5E;
$chat-bach-button: #cc7272;

$border-color-main: #fff;
$border-color-main-inverse: $main-color;
$border-color-complement: #cccccc;

$background-color-main: #F2F2F2;
$background-color-main-second: $main-second-color;
$background-color-main-inverse: $main-color;
$background-color-complement: $complement-color;
$background-color-complement-darker: $complement-color-darker;

$font-color-main: $main-color;
$font-color-main-inverse: #fff;
$font-color-complement: #B3B4B4;
$font-color-complement-antagonist: #333333;
$font-color-main-second: $main-second-color;
$font-color-primary: #2c3a48;

$bg-color--allow: #39B54A;
$bg-color--not-allow: #FF0000;







