@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.hidden{
  display: none;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $body-color;
  font-family: 'Roboto','Open Sans','Helvetica Neue',sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-size: $font-size-base;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  &.sidemenu-opened {

    .header-mobile {
      @include transform(translateX(0) translateZ(0));
      /*left:0;*/
      width: 100%;
    }

    .side-menu {
      @include transform(translateX(0) translateZ(0));
      /*left: 0;*/
    }

    .side-menu-close-cover {
      display: block;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $background-color-complement;
}

//** Adding placeholders to contenteditable fields***
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  padding-right: 5px;
}

.email-soc-continue{
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #fff;
  display: none;
  border: solid 3px $main-color;
  padding: 20px;
  z-index: 10;
  p{
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  input{
    padding: 3px 5px;
    border: solid 1px #666666;
    color: #000;
    font-size: 16px;
    outline: none;
    margin: 10px auto;
  }
  button{
    cursor: pointer;
    color: $main-color;
    background-color: #fff;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    padding: 3px 15px;
    text-transform: uppercase;
    border: solid 1px $main-color;
  }
  &.active{
    @include flexbox;
    @include align-items-center;
    flex-direction: column;
  }
}

.wtv-container{
  position: relative;
  .close{
    height: 15px;
    width: auto;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.add-common-photo-button form {
  width: 100%
}

body.page-bot-chat{
  .header-mobile{
    height: 42px;
  }
  .side-menu{
    top: 42px;
  }
  .page-chat{
    top: 70px;
  }
  .randomize-wrapper{
    margin-top: 50px;
  }
}

body.page-new-clients{
  padding-top: 50px;
}