@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.header-mobile {
  @include flexbox;
  @include align-items-center;
  @include space-between;
  position: fixed;
  top: 0;
  height: 50px;
  background-color: #fff;
  @include calc(width, '100% + 275px');
  @include transform(translateX(-275px) translateZ(0));
  z-index: $z-header;
  /*left: -275px;*/
  box-shadow: 0 1px 5px 0px rgba(0,0,0,.25);

  .header-logo {
    width: 275px;
    height: 42px;
    position: relative;
    opacity: 1;
    display: block;
    .sidemenu-header{
      background-color: #fff;
      display: flex;
      align-items: center;
      height: 40px;
      padding: 5px 5px 5px 20px;
      figure{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
        img{
          height: 100%;
          width: 100%
        }
      }
      p{
        font-weight: bold;
        font-size: 18px;
        color: #000;
      }
    }
  }

  .hamburger {
    @include no-select;
    position: relative;
    height: 100%;
    width: 42px;
    min-width: 42px;
    margin-right: auto;

    .h-line {
      position: absolute;
      left: 8px;
      width: 26px;
      height: 2px;
      background-color: $main-color;
    }

    .h-top {
      top: 14px;
    }

    .h-middle {
      top: 24px;
    }

    .h-bottom {
      top: 34px;
    }

    .unreaded-messages-count {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      background-color: $main-color;
      color: #fff;
      font-weight: bold;
      height: 19px;
      width: 19px;
      line-height: 22px;
      text-align: center;
    }
  }

  .center-content {
    @include flex(1 auto);
    position: relative;
    .header-profile-name{
      position: relative;
      /*top: 2px;*/
    }
    .header-profile-info{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      padding-left: 5px;
      figure{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-right: 3px;
        border: solid 1px #ccc;
        img{
          height: 100%;
          width: 100%;
        }
      }
      p{
        color: #000;
        margin-bottom: 3px;
        @include flexbox;
        &:first-of-type{
          span{
            color: #fff;
            background-color: $main-color;
            margin-right: 5px;
            /*padding: 0 3px;*/
            padding: 2px 7px;
            font-size: 12px;
          }
          font-weight: bold;
          .nickname{
            padding: 0;
          }
        }
      }
      .header-advanced-btn{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 20px;
      }
      .recipient-age{
        margin-right: 5px;
      }
      .recipient-residence{
        span{
          color: #000;
          font-size: 12px;
          /*background: $main-color;*/
          padding: 2px 7px;
          /*border: solid 1px #fff;*/
        }
      }
    }
    .edit-profile{
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
      right: 20px;
    }
    .page-head {
      color: $font-color-main-inverse;
      @include flexbox;
      @include justify-content-center;
      @include flex-flow(row, wrap);
      height: 42px;
      padding: 5px 0;

      .msg-privacy-status{
        position: absolute;
        top: 8px;
        left: 2px;
      }

      &.single-pick, &.profile-id, &.profile-edit, &.profile {
        .nickname {
          flex: 1 100%;
          max-width: 100%;
          text-align: center;
          font-weight: bold;
          font-size: 15px;
        }
        .air-status{
          @include flexbox;
          @include align-items-center;
          @include justify-content-center;
          height: 42px;
          width: 75px;
          position: absolute;
          top: 0;
          right: 0;
          svg{
            position: relative;
            bottom: 1px;
          }
          .air-text{
            display: none;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            margin-left: 2px;
            text-align: center;
            line-height: 12px;
            span{
              font-size: 16px;
              letter-spacing: 1px;
            }
          }
          .on-air{
            display: none;
          }
          &.active{
            .air-text{
              display: block;
              animation: pulsar 1s infinite;
              @keyframes pulsar{
                0%{
                  opacity: 1;
                }
                50%{
                  opacity: 0.1;
                }
                100%{
                  opacity: 1;
                }
              }
            }
            .no-air{
              display: none;
            }
            .on-air{
              display: block;
            }
          }
        }
      }

      &.chat {
        padding-left: 100px;
        padding-right: 70px;
        @include flex-flow(column, nowrap);
        position: relative;

        .avatar-holder {
          @include flexbox;
          @include align-items-center;
          @include justify-content-center;
          position: absolute;
          left: 54px;
          top: 0;
          width: 42px;
          height: 42px;

          .user-avatar {
            @include user-avatar(35px);
            border-radius: 50%;
          }

        }

        .online-status {
          margin: 0 50% 0 7px;
          text-align: left;
        }

        .nickname {
          max-width: initial;
        }

        .header-profile-name{
          position: absolute;
          left: 100px;
          p{
            color: #fff;
            &:first-of-type{
              span{
                color: $main-color;
                background-color: #fff;
                margin-right: 5px;
                padding: 0 3px;
              }
              font-weight: bold;
            }
          }
        }

        .clickable-areas {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          @include flexbox;

          .back-to-list-button {
            width: 50px;
            height: 42px;
            @include flexbox;
            @include align-items-center;
            @include justify-content-center;
            @include flex(0 auto);
            background-color: #fff;
            svg{
              path:first-of-type{
                stroke: $main-color;
              }
              path:last-of-type{
                fill: $main-color;
              }
            }
          }

          .to-profile-link {
            @include flex(1 auto);
          }
        }
        .air-status{
          @include flexbox;
          @include align-items-center;
          @include justify-content-center;
          height: 100%;
          width: 75px;
          svg{
            position: relative;
            bottom: 1px;
          }
          .air-text{
            display: none;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            margin-left: 2px;
            text-align: center;
            line-height: 12px;
            span{
              font-size: 16px;
              letter-spacing: 1px;
            }
          }
          .on-air{
            display: none;
          }
          &.active{
            .air-text{
              display: block;
              animation: pulsar 1s infinite;
              @keyframes pulsar{
                0%{
                  opacity: 1;
                }
                50%{
                  opacity: 0.1;
                }
                100%{
                  opacity: 1;
                }
              }
            }
            .no-air{
              display: none;
            }
            .on-air{
              display: block;
            }
          }
        }
      }

      &>* {
        margin-right: 2px;
      }

      .nickname {
        max-width: 60vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .id {
        font-weight: bold;
        color: $font-color-main;
        text-transform: uppercase;
        background-color: $background-color-main;
        padding: 0 3px;
        margin-right: 5px;
        display: none;
      }

      .online-status {
        position: relative;
        margin: 0 40%;
        text-align: center;
        white-space: nowrap;

        &:before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          left: -7px;
          top: 6px;
          border-radius: 50%;
        }

        &.online:before {
          background-color: $bg-color--allow;
        }

        &.offline:before {
          background-color: $bg-color--not-allow;
        }

      }
    }
  }
}

.header-mobile .center-content .header-profile-info p:first-of-type span:last-of-type{
  color: #000;
  background: #fff;
}

