@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.page-profile {
  @include flexbox;
  @include flex-flow(column,nowrap);
  padding-top: 50px;
  background-color: #fff;
  .main-info {
    @include flexbox;
    @include space-between;
    padding: 2vw;

    .avatar-holder {
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      @include flex(70px 0);

      .user-avatar {
        @include user-avatar(70px);
        /*border: .3px solid #EB008B;*/
        border-radius: 50%;
      }
    }

    .info-holder {
      @include flex(3 auto);
      padding-left: 10px;
      max-width: 80%;
      overflow: hidden;
      @include flexbox;
      @include justify-content-center;
      flex-direction: column;

      .main-info-row {
        @include flexbox;
        /*@include flex-flow(row, wrap);*/
        /*@include align-items-center;*/
        min-height: 23px;
        align-items: flex-start;
        flex-direction: column;

        .id {
          @include main-title;
          color: $font-color-main-inverse;
          background-color: $main-color;
          padding: 0 3px;
        }

        .name {
          @include main-title;
          text-transform: none;
          color: #666;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
/*          @include calc(width,"100% - 67px");*/
          /*padding-left: 5px;*/
          padding-left: 0;
        }

        .age-city-holder, .status-holder {
          display: block;
        }

        .city {
          color: #666;
          /*margin-left: 3px;*/
          margin-left: 0;
        }

        .age {
          @extend .city;
          margin-left: 0;

          &:after {
            content: ',';
          }
        }

        .user-status {
          color: $font-color-main;
        }
      }

      .online-status {
        position: relative;
        @include flex(1 100%);
        padding-left: 7px;
        display: none;
        color: $font-color-main;

        &.online:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          @include transform(translateY(-50%));
          width: 5px;
          height: 5px;
          background-color: $bg-color--allow;
          border-radius: 50%;
        }
      }
    }
  }

  .profile-menu {
    @include flexbox;
    @include space-between;
    @include align-items-center;
    padding: 2vw;

    .menu-item {
      @include flex(1);
      position: relative;
      text-align: center;

      &.active {
        .menu-item-ico {
          svg, path, g {
            fill: $main-second-color;
          }
        }
      }

      &-ico {
        @include flexbox;
        @include align-items-center;
        @include justify-content-center;
        height: 45px;
        width: 100%;
      }

      &-name {
        text-transform: uppercase;
        color: $font-color-complement;
      }
    }
  }

  .dropdown-heading {
    width: 100%;
    color: $font-color-main;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    padding: 3vw 0 2vw 2vw;

    &:before {
      content: '';
      position: absolute;
      right: 5px;
      top: 50%;
      @include transform(translateY(-10%));
      border: 7px solid transparent;
      border-top: 10px solid $border-color-main-inverse;
    }

    &.active:before {
      @include transform(translateY(-60%));
      border-top: 7px solid transparent;
      border-bottom: 10px solid $border-color-main-inverse;
    }
  }

  .info-items-container {
    position: relative;
    padding: 1px 2vw;

    .info-item {
      @include flexbox;
      padding: 1vw 0;

      &.height {
        .info-parameter {
          @include flex(0 auto);

          &.feet,&.inch, &.sm{
            margin: 0 2px 0 5px;
          }
        }
      }

      &.weight {
        .info-parameter {
          @include flex(0 auto);

          &.lbs,&.kg{
            margin: 0 2px 0 5px;
          }
        }
      }

      .info-name {
        @include flex(1 auto);
        color: $font-color-complement-antagonist;
      }

      .info-parameter {
        @include flex(0 70%);
        text-align: right;
        color: $font-color-complement;
      }
    }
  }

  .about-text {
    width: 100%;
    padding: 10px 2vw;
    color: $font-color-complement-antagonist;
  }

  .photos-wrapper {
    width: 100%;
    padding: 2vw 0;
    background-color: #F2F2F2;

    .single-photo {
      position: relative;
      border: 1px solid $border-color-complement;
      margin-bottom: 15px;
      box-shadow: 0 1px 3px rgba(0,0,0,.1);

      .profile-img {
        display: block;
        width: 100%;
        height: auto;
      }

      .like {
        @include flexbox;
        @include align-items-center;
        @include justify-content-center;
        background-color: $background-color-main;
        font-size: 15px;
        padding: 5px;
        color: $font-color-complement;
        min-height: 42px;
        height: 6vh;

        &.active {
          path, g {
            fill: $main-second-color;
          }
        }

        svg {
          margin-right: 10px;
        }

        .like-amount {

        }
      }
    }
  }

  .dropdown-block {
    display: none;

    &.opened {
      display: block;
    }
  }
}

.page-profile .ribbons-menu .ribbons-menu-item.active:after{
  background-color: $main-color;
}


.page-profile .photos-wrapper .single-photo .main-info{
  .avatar-holder{
    @include flex(40px 0);
  }
  .info-holder{
    max-width: 100%;
    padding-left: 0;
    .main-info-row .name{
      color: #666;
      font-size: 16px;
      font-weight: bold;
      font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    }
  }
}

.page-profile .photos-wrapper .single-photo .photo-info .like, .page-profile .page-settings .settings-block .required-items-list .required-item.photos-wrapper .fs-upload-target .photo-info .like, .page-settings .settings-block .required-items-list .page-profile .required-item.photos-wrapper .fs-upload-target .photo-info .like{
  color: #666;
  font-size: 16px;
}

.wide-button, .page-profile .profile-edit-button, .page-profile .add-pass-photo-button, .page-profile .add-private-photo-button, .page-profile .add-common-photo-button{
  width: auto;
  border: solid 1px #2c3a48;
  border-radius: 5px;
  color: #2c3a48;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  margin: 3px 10px;
  background-color: #fff;
  line-height: normal;
  @include flexbox;
  @include align-items-center;
  @include justify-content-center;
  &:active{
    background-color: #ea6a6a;
    color: #fff;
    border-color: #fff;
    path{
      fill: #fff;
    }
  }
}

.tag-place-container .tag-place{
  @include flexbox;
  @include align-items-center;
  padding: 10px;
  border: solid 1px #5d6b79;
  svg{
    height: 15px;
    width: auto;
    margin-left: 5px;
    fill: #2c3a48!important;
  }
}

.country-old{
  height: auto;
  z-index: 1;
  position: realtive;
  select{
    width: 100%;
    padding: 10px 0!important;
    text-align: center;
    color: #4d4d4d;
    outline: none!important;
    option{
      text-align: center;
      color: #4d4d4d;
    }
  }
}

.wide-button, .page-profile .profile-edit-button, .page-profile .add-pass-photo-button, .page-profile .add-private-photo-button, .page-profile {
  .profile-photo-btn-wrap{
    background: #efefef;
    padding: 5px 0;
    margin-bottom: -20px;
  }
  .profile-edit-btn-wrap{
    padding: 5px 0;
  }
}

.country-old{
  .search__icosearch{
    position: absolute;
    left: 20px;
    transform: translateY(-50%);
    top: 50%;
  }
}

#place-visit, .google-places-input{
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 16px;
  background: #ffffff;
  color: #4d4d4d;
  outline: none!important;
}

.photos-wrapper{
  .single-photo{
    .main-info .info-holder .main-info-row{
      .name{
        padding-left: 5px;
      }
    }
    .main-info .info-holder .publish-date{
      margin-top: 0;
    }
  }
}

.page-profile .photos-wrapper .single-photo .profile-img.inloading{
  width: 50px;
  padding: 30px 0;
  margin: 0 auto;
}