@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.page-notifications{
  .notifications-head{
    @include align-items-center;
    .notification-title{
      color: $font-color-primary;
    }
    .clear-all{
      padding: 5px 10px;
      border: 1px solid #ea6a6a;
      border-radius: 4px;
      color: #ea6a6a;
      text-transform: uppercase;
      background-color: #fff;
    }
  }
  .notifications-ribbon{
    .message-row{
      .user-avatar{
        border-radius: 50%;
        overflow: hidden;
      }
      .message-text-controls-wrap{
        .message-text{
          a{
            color: $font-color-primary;
          }
        }
      }
    }
  }
}