@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.emails{
  .emails-outer-wrapper {
    display: inline-block;
    position: relative;
    height: 100%;
    padding-left: 16px;
    width: 100%;
    min-width: 900px;
    .tutorial {
      position: relative;
      width: 100%;
      height: 200px;
      margin: 0 auto;

      .tutorial-box{
        padding-bottom: 0;
      }

      .tutorial-video {
        position:absolute;
        width: 268px;
        height: auto;
        left: 50%;
        margin-left: -134px;
      }
    }

    .search-field {
      @include flexbox;
      @include align-items-center;
      width: 100%;
      margin-top: 20px;

      .search-input {
        background-color: #fff;
        border: 1px solid #313131;
        padding: 2px 5px;
        margin: 0 20px;
        width: 200px;
      }

      .search-button {
        width: 100px;
        height: 25px;
        background-color: #f2f2f2;
        color: #666666;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
        font-size: 15px;
        text-align: center;
        line-height: 25px;
        border: 1px solid #666666;
        cursor: pointer;
        margin-right: 5px;
        @include no-select;

        &:active {
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
          @include transform(translateY(1px));
        }
      }

    }

    .emails-header {
      @include flexbox;
      @include space-between;
      color: #808080;
      border-bottom: 1px solid $main-color;
      padding: 3px 0;

      a{
        &:active{
          color: #EB008B;
        }
        &:hover{
          color: #2E5894;
        }
      }

      .box-hold {
        @include flexbox;

        & > * {
          margin-right: 10px;
          cursor: pointer;
        }
      }

      .back-mail-svg-ico {
        width: 17px;
        height: 9px;
      }
    }

    .emails-inner-wrapper {
      /*@include bg-fill;*/
      //    !!! THIS IS NEEEDED!
      /*        overflow-y: auto;
        top: 26px;
        height: auto;
        left: 16px;
        position: absolute;
        right: 0;*/

      &.chain {
        top: 20px;
      }

      .models-filter-wrapper{
        width: 100%;
        @include flexbox;
        @include align-items-center;
        @include justify-content-end;
        padding: 5px 0;
        font-weight: bold;
        color: #22416d;
        span.active{
          color: #EB008B;
        }
        .id-filter{
          color: $font-color-primary;
          margin-right: 630px;
          cursor: pointer;
        }
        .on-air-filter{
          color: $font-color-primary;
          margin-right: 32px;
          cursor: pointer;
        }
        .status-filter{
          color: $font-color-primary;
          cursor: pointer;
          margin-right: 55px;
        }
        /*.status-filter{
          color: $font-color-primary;
          border: solid 1px $font-color-primary;
          font-size: 12px;
          outline: none;
        }*/
      }

      .head-filter {
        display: flex;
        align-items: center;
        padding: 7px 0 7px 32px;
        font-weight: bold;
        color: $font-color-primary;
        .filter-id{
          @include flex(0 400px);
          cursor: pointer;
          &.active{
            color: $main-color;
          }
        }
        .filter-online{
          @include flex(0 120px);
          cursor: pointer;
          &.active{
            color: $main-color;
          }
        }
        .filter-date{
          @include flex(0 98px);
          cursor: pointer;
          &.active{
            color: $main-color;
          }
        }
        .filter-symbols{
          @include flex(0 100px);
          cursor: pointer;
          &.active{
            color: $main-color;
          }
        }
        &.models{
          .filter-id{
            @include flex(0 315px);
          }
          .filter-online{
            @include flex(0 110px);
          }
          .filter-date{
            @include flex(0 90px);
          }
          .filter-symbols{
            @include flex(0 100px);
          }
        }
      }

      .emails-wrapper {

        .single-email {
          @include flexbox;
          @include align-items-center;
          margin: 2px 5px;
          padding: 2px 0;
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);

          &:nth-child(odd) {
            background: #fafafa;
          }

          & > * {
            margin: 0 3px;
          }

          .single-cell {
            @include flexbox;
            @include align-items-center;
            @include flex(1 auto);

            & > :not(.user-avatar) {
              @include flexbox;
              @include align-items-center;
              @include flex(1 100px);
            }

            & > .preferences {
              @include flex(0 85px);
            }

            & > .last-active {
              @include flex(0 85px);
            }

            & > .register-date {
              @include flex(0 95px);
            }

            & > .user-nickname {
              @include flex(0 180px);
            }

            & > .coins-amount {
              @include flex(0 50px);
            }

            & > .messages-amount {
              @include flex(0 65px);
            }

            & > .mails-amount {
              @include flex(0 60px);
            }

            & > .user-id {
              @include flex(0 100px);
            }

            & > .visit {
              @include flex(0 200px);
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 200px;
              white-space: nowrap;
              margin-right: 15px;
            }

            & > .location {
              @include flex(0 100px);
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100px;
              white-space: nowrap;
              margin-right: 15px;
            }

            & > .verify-user {
              @include flex(0 100px);
              input{
                margin-right: 3px;
              }
            }

            & > .on-air-checkbox{
              @include flex(0 60px);
              @include align-items-center;
              cursor: pointer;
              .checkbox-container{
                margin-right: 3px;
              }
              svg{
                fill: #ccc;
              }
              &.active{
                svg{
                  fill: #eb008b;
                }
              }
            }

            & > * {
              margin: 0 3px;

              svg {
                margin: 0 3px;
              }
            }
          }

          .inner-row {
            @include flexbox;
            @include align-items-center;
            @include space-between;
            @include flex(1);
            padding: 2px 7px;
            background-color: #fff;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, .1);
            width: 100%;
          }

          .checkbox-container {
            position: relative;

            input {
              position: absolute;
              top: 0;
              left: 0;
              width: 15px;
              height: 15px;
              z-index: -1;
            }

            input[type=checkbox]:checked + label .check-img {
              background-position: 0px -16px;
            }

            label {
              position: relative;
              height: 100%;
              cursor: pointer;
            }

            .check-img {
              width: 15px;
              height: 15px;
              display: block;
              vertical-align: middle;
              background: url('../img/mail-checkbox.svg') no-repeat 0 0;
            }
          }

          .online-status-lamp {
            width: 15px;
            height: 15px;
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              @include transform(translate(-50%, -50%));
              width: 9px;
              height: 9px;
              border-radius: 50%;
            }
          }

          .favour-mail-svg-ico {
            width: 15px;
            height: 15px;
          }

          .user-id{
            color: $font-color-primary;
            @include flex(0 50px);
          }

          .user-avatar {
            @include user-avatar(27px);
            border-radius: 50%;
            background: transparent;
            margin: 0 3px;
          }

          .user-nickname {
            @include flex(0 auto);
            color: $font-color-primary;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .user-message {
            @include flex(1 auto);
            color: #666666;
            width: 430px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 16px;

            img[alt='smile'] {
              max-height: 16px;
              max-width: 16px;
            }
          }
          .attachment-mail-svg-ico {
            width: 18px;
            height: 15px;
            opacity: 0;

            path, g {
              fill: #999999;
            }
          }

          .message-status {
            width: 20px;
            height: 20px;
            font-size: 10px;
            position: relative;
            display: none;

            &:before, &:after {
              content: '';
              position: absolute;
              transition: all .1s ease;
            }
          }

          .status-confirm{
            color: $font-color-primary;
          }

          .readed-mail-svg-ico {
            width: 16px;
            height: 18px;
            display: none;

            path, g {
              fill: #999999;
            }
          }

          .unreaded-mail-svg-ico {
            width: 16px;
            height: 12px;
            display: block;

            path, g {
              fill: #999999;
            }
          }

          .reply-mail-svg-ico {
            width: 18px;
            height: 14px;
            display: none;

            path, g {
              fill: #999999;
            }
          }

          .date {
            color: #999999;
          }

          .msg-counter {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            font-size: 9px;
            line-height: 19px;
            text-align: center;
            background-color: #999999;
            color: #fff;
          }

          .online-status {
            position: relative;
            color: #808080;
            float: right;
            margin: var(main-info-edit--margin-top) var(main-info-edit--margin-right) 0 0;

            &:before {
              content: '';
              background-color: transparent;
              position: absolute;
              width: 5px;
              height: 5px;
              left: -7px;
              top: 5px;
              border-radius: 50%;
            }

            &.online:before {
              background-color: $bg-color--allow;
            }

            &.offline:before {
              background-color: $bg-color--not-allow;
            }
          }

          //conditions control

          &.online {
            .online-status-lamp:before {
              background-color: $bg-color--allow;
            }
          }

          &.offline {
            .online-status-lamp:before {
              background-color: $bg-color--not-allow;
            }
          }

          &.readed {

            .inner-row {
              background-color: #f2f2f2;
            }

            .favour-mail-svg-ico {
              path, g {
                fill: #999999;
              }
            }

            .readed-mail-svg-ico {
              display: block;
            }

            .unreaded-mail-svg-ico {
              display: none;
            }

            .user-message {
              color: #999999;
            }
          }

          &.delivered-to-me {
            .inner-row {
              background-color: #f2f2f2;
            }

            .message-status {
              display: block;

              &:before, &:after {
                top: 0;
                left: 0;
                width: 12px;
                height: 8px;
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
                @include transform(rotate(-45deg));
              }

              &:after {
                top: 6px;
                left: 8px;
                height: 1px;
              }
            }

            .unreaded-mail-svg-ico, .readed-mail-svg-ico {
              display: none;
            }
          }

          &.delivered {
            .inner-row {
              background-color: #f2f2f2;
            }

            .message-status {
              display: block;

              &:before {
                top: 0;
                left: 0;
                width: 12px;
                height: 8px;
                border-left: 2px solid #999;
                border-bottom: 2px solid #999;
                @include transform(rotate(-45deg));
              }
            }

            .unreaded-mail-svg-ico, .readed-mail-svg-ico {
              display: none;
            }
          }

          &.replied {
            .reply-mail-svg-ico {
              display: block;
            }
          }

          &.is-favour {
            .favour-mail-svg-ico {
              path {
                fill: #E90E8B !important;
              }
            }
          }

          &.has-attachment {
            .attachment-mail-svg-ico {
              opacity: 1;
            }
          }
        }
      }

      .single-mail-chain {
        @include flexbox;
        @include flex-flow(column, nowrap);
        background-color: #f2f2f2;
        font-size: 13px;

        .last-mail-title {
          color: #333333;
          line-height: 40px;
          height: 40px;
          border-top: 1px solid $main-color;
          border-bottom: 1px solid $main-color;
          padding: 0 10px;
        }

        .single-mail-header {
          @include flexbox;
          @include space-between;
          @include align-items-center;
          margin: 1px 0;
          padding: 1px 0;

          & > * {
            margin: 0 10px;
          }

          &:first-of-type {
            margin-top: 5px;
          }

          &:last-of-type {
            margin-bottom: 5px;
          }

          .favour-mail-svg-ico {
            width: 15px;
            height: 15px;
          }

          .user-avatar {
            @include user-avatar(41px);
            border-radius: 50%;
            background: transparent;
          }

          .nick-message {
            @include flex(1 auto);
            width: 5%; //hack for child adaptive ellipsis

            .user-nickname {
              color: #808080;
            }

            .user-message { //this child)
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #666666;
            }

          }

          .attachment-mail-svg-ico {
            width: 18px;
            height: 15px;
            opacity: 0;
          }

          .date {
            color: #666666;
          }

        }

        .chain-wrapper {

          .single-mail-header {
            background-color: #e6e6e6;
          }

          .chain-other-mails {
            border-top: 2px solid #e6e6e6;
            border-bottom: 2px solid #e6e6e6;
            margin: 3px 0;
            padding: 1px;
            cursor: pointer;
          }
        }

        .last-mail-body {
          width: 100%;
          padding: 10px 20px;

          .mail-text-field {
            background: white;
            border: 1px solid rgba(153, 153, 153, 0.53);
            padding: 10px;
          }

          .answer-button {
            cursor: pointer;
            margin: 20px 0;
            padding: 3px 15px;
            border: 1px solid rgba(153, 153, 153, 0.53);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            color: #808080;
            display: inline-block;
            font-size: 14px;

            &:hover {
              box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
            }
          }

          .editable-email {
            width: 20px;
            height: 20px;
            opacity: 0;
          }
        }

      }

    }
  }
}