@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";


.terms {
  padding-top: 60px;
  font-family: $font-family-base;
  color: #313133;
  padding-left: 5px;
  padding-right: 5px;

  .terms-title{
    text-align: center;
    font-size: $font-size-large;
    padding-bottom: 10px;
  }

  .terms-item {
    padding-bottom: 10px;
  }

  .terms-text {
    padding-bottom: 10px;
  }

  .terms-list {
    list-style-type: circle;
    margin-left: 20px;
    li {
      padding-bottom: 5px;
    }
  }
}