@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";


.page-users {
  padding-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  .user-row{
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 15px;
    padding: 5px;
    &:nth-child(even){
      background: #ffffff;
    }
    .user-info{
      @include flex(0 180px);
      display: flex;
      align-items: center;
      .user-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin-right: 3px;
        border: solid 1px #ccc;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }
    .user-age{
      @include flex(0 90px);
    }
    .location{
      @include flex(0 200px);
    }
    .visit{
      @include flex(0 200px);
    }
  }
}