@charset "UTF-8";
/* mixin for multiline */
.page-main {
  padding: 15px 0;
  text-align: center; }
  .page-main .preview-tile {
    position: relative;
    display: inline-block;
    margin: 0 7px 14px;
    color: #333333;
    box-shadow: 0 1px 12px 2px rgba(0, 0, 0, 0.3); }
    @media screen and (min-width: 450px) {
      .page-main .preview-tile {
        width: 45%; } }
    @media screen and (min-width: 750px) {
      .page-main .preview-tile {
        width: 30%; } }
    .page-main .preview-tile .profile-nickname {
      text-align: left;
      font-size: 20px;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 3px; }
      .page-main .preview-tile .profile-nickname:after {
        content: "id:" attr(profile-id);
        position: absolute;
        right: 0;
        top: 4px;
        padding: 3px 5px;
        color: #fff;
        background-color: #EB008B;
        text-transform: uppercase;
        font-size: 13px; }
    .page-main .preview-tile .age-status-holder {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 3px 5px; }
      .page-main .preview-tile .age-status-holder .profile-age {
        font-size: 15px; }
      .page-main .preview-tile .age-status-holder .online-status {
        font-size: 10px;
        position: relative; }
        .page-main .preview-tile .age-status-holder .online-status:before {
          content: '';
          background-color: #39B54A;
          position: absolute;
          width: 5px;
          height: 5px;
          left: -7px;
          top: 4px;
          border-radius: 50%; }
        .page-main .preview-tile .age-status-holder .online-status.offline:before {
          background-color: #FF0000; }
    .page-main .preview-tile .camera-thumb-image {
      width: 100%;
      height: auto;
      overflow: hidden; }
    .page-main .preview-tile .preview-title-menu {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px; }
      .page-main .preview-tile .preview-title-menu svg:hover g, .page-main .preview-tile .preview-title-menu svg:hover path {
        fill: #5C5C5E; }
      .page-main .preview-tile .preview-title-menu svg.active g, .page-main .preview-tile .preview-title-menu svg.active path {
        fill: #EB008B; }

.page-single-pick {
  padding-top: 50px; }
  .page-single-pick .user-controls .control-btn.next-user .forwards-ico {
    left: 60%; }

.on-page {
  background: #f1f1f1;
  padding-bottom: 20px; }
  .on-page .title-for-tags {
    font-size: 6.8vw;
    text-align: center;
    color: #2c3a48;
    text-transform: uppercase; }
  .on-page .tag-place-container .tag-place:active {
    border: solid 1px #ea6a6a;
    background: #ea6a6a;
    color: #ffffff; }
  .on-page .select-title {
    color: #2c3a48;
    margin: 0 0 15px;
    font-size: 6.8vw;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px; }
  .on-page .input-range-wrapper input {
    padding-left: 0; }
  .on-page .input-range-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px; }
    .on-page .input-range-wrapper > * {
      margin: 0 3px; }
    .on-page .input-range-wrapper .input-title {
      color: #2c3a48;
      font-size: 15px; }
    .on-page .input-range-wrapper .age-input {
      width: 40px;
      outline: none;
      border: none;
      border-radius: 4px;
      background-color: #fff;
      height: 20px;
      line-height: 20px;
      padding: 5px;
      text-align: center;
      color: #2c3a48;
      border: solid 1px #2c3a48; }
    .on-page .input-range-wrapper .dash {
      width: 12px;
      height: 1px;
      border-radius: 2px;
      background-color: #F2F2F2; }
  .on-page .select-gender.want-lives .gender-container svg path {
    stroke: #666;
    fill: none !important; }
  .on-page .select-gender.want-lives .gender-container.active svg path {
    stroke: #fff !important;
    fill: none !important; }
  .on-page .search-button {
    font-size: 16px; }
  .on-page .slider-ui {
    position: relative;
    margin: 20px 18px;
    border-radius: 0;
    height: 1px;
    background-color: #ccc; }
    .on-page .slider-ui .ui-slider-range {
      border: none;
      background: #F2F2F2;
      border-top: solid 1px #2c3a48;
      border-bottom: solid 1px #2c3a48;
      top: 0;
      height: 100%;
      position: absolute;
      z-index: 1;
      font-size: .7em;
      display: block; }
    .on-page .slider-ui .ui-slider-handle {
      top: -9px;
      margin-left: -10px;
      position: absolute;
      z-index: 2;
      cursor: default;
      width: 20px;
      border: 1px solid #2c3a48;
      height: 20px;
      background: #fff;
      border-radius: 4px;
      outline: none; }
  .on-page .login-button, .on-page .register-button, .on-page .search-button {
    border: solid 1px #ea6a6a;
    /*background-color: transparentize($background-color-main-second, .2);*/
    background-color: #fff;
    color: #ea6a6a;
    width: 94%;
    height: 40px;
    margin: 5px auto 0;
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4); }
    .on-page .login-button:active, .on-page .register-button:active, .on-page .search-button:active {
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
      -webkit-transform: translateY(1px);
      -moz-transform: translateY(1px);
      -o-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px); }

.page-single-pick .user-controls .previous-user, .page-single-pick .user-controls .next-user {
  color: #2c3a48 !important;
  background: #fff;
  border: solid 1px #2c3a48;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px; }
  .page-single-pick .user-controls .previous-user svg path, .page-single-pick .user-controls .next-user svg path {
    fill: №2c3a48; }
  .page-single-pick .user-controls .previous-user:active, .page-single-pick .user-controls .next-user:active {
    background: #cccccc !important; }

.select-gender .gender-container {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold; }
  .select-gender .gender-container svg {
    width: auto !important;
    height: 35px !important;
    margin-bottom: 7px; }

.menu .menu-item .icon-holder {
  height: 35px !important; }
  .menu .menu-item .icon-holder svg {
    width: auto !important;
    height: 35px !important; }
.menu .menu-item .menu-item-text {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold; }

.page-single-pick .user-controls {
  padding: 15px 10px; }

.tag-place-container.slider {
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: scroll;
  height: 60px; }

/*# sourceMappingURL=2.2.page.main.css.map */
