@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.page-messages-list {
  overflow: auto;
  background-color: #fff;

  .main-info {
    @include flexbox;
    @include space-between;
    padding: 2vw;
    border-bottom: 1px solid $border-color-complement;
    position: relative;

    .msg-status-ico{
      position: absolute;
      bottom: 10px;
      left: 55px;
    }

    .avatar-holder {
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      @include flex(1 auto);
      max-width: 20%;
      overflow: initial;

      .user-avatar {
        @include user-avatar(70px);
        border: .3px solid #EB008B;
        border-radius: 50%;
      }
    }

    .info-holder {
      @include flex(3 auto);
      padding-left: 10px;
      max-width: 80%;
      overflow: hidden;

      .main-info-row {
        @include flexbox;
        @include align-items-center;

        .id-box {
          width: 50px;
          min-width: 50px;

          .id {
            display: inline-block;
            @include main-title;
            color: $font-color-main-inverse;
            background-color: $main-color;
            padding: 0 3px;
          }
        }
        .name {
          @include main-title;
          @include flex(1 auto);
          text-transform: none;
          color: #2c3a48;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left: 5px;
        }

        .time {
          color: $font-color-complement;
          white-space: nowrap;
        }
      }

      .last-text {
        width: 100%;
        color: $complement-color-darker;
        @include multiLineEllipsis(1.4em, 2, $main-color-antagonist);
        margin-top: 10px;
        font-size: $font-size-large;
        img{
          height:35px;
        }
      }

    }
  }
}

.no-messages{
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 100vw;
  p{
    color: $main-color;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
  }
}