@charset "UTF-8";
/* mixin for multiline */
.page-messages-list {
  overflow: auto;
  background-color: #fff; }
  .page-messages-list .main-info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2vw;
    border-bottom: 1px solid #cccccc;
    position: relative; }
    .page-messages-list .main-info .msg-status-ico {
      position: absolute;
      bottom: 10px;
      left: 55px; }
    .page-messages-list .main-info .avatar-holder {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1 auto;
      -moz-box-flex: 1 auto;
      -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
      flex: 1 auto;
      max-width: 20%;
      overflow: initial; }
      .page-messages-list .main-info .avatar-holder .user-avatar {
        position: relative;
        min-width: 70px;
        width: 70px;
        height: 70px;
        overflow: hidden;
        text-align: center;
        margin: 0;
        border: .3px solid #EB008B;
        border-radius: 50%; }
        .page-messages-list .main-info .avatar-holder .user-avatar img {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          vertical-align: middle;
          min-height: 105%;
          min-width: 105%; }
    .page-messages-list .main-info .info-holder {
      -webkit-box-flex: 3 auto;
      -moz-box-flex: 3 auto;
      -webkit-flex: 3 auto;
      -ms-flex: 3 auto;
      flex: 3 auto;
      padding-left: 10px;
      max-width: 80%;
      overflow: hidden; }
      .page-messages-list .main-info .info-holder .main-info-row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .page-messages-list .main-info .info-holder .main-info-row .id-box {
          width: 50px;
          min-width: 50px; }
          .page-messages-list .main-info .info-holder .main-info-row .id-box .id {
            display: inline-block;
            font-weight: bold;
            font-size: 15px;
            color: #ea6a6a;
            text-transform: uppercase;
            color: #fff;
            background-color: #ea6a6a;
            padding: 0 3px; }
        .page-messages-list .main-info .info-holder .main-info-row .name {
          font-weight: bold;
          font-size: 15px;
          color: #ea6a6a;
          text-transform: uppercase;
          -webkit-box-flex: 1 auto;
          -moz-box-flex: 1 auto;
          -webkit-flex: 1 auto;
          -ms-flex: 1 auto;
          flex: 1 auto;
          text-transform: none;
          color: #2c3a48;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left: 5px; }
        .page-messages-list .main-info .info-holder .main-info-row .time {
          color: #B3B4B4;
          white-space: nowrap; }
      .page-messages-list .main-info .info-holder .last-text {
        width: 100%;
        color: #5C5C5E;
        overflow: hidden;
        position: relative;
        line-height: 1.4em;
        max-height: 2.8em;
        margin-right: -1em;
        padding-right: 1em;
        margin-top: 10px;
        font-size: 15px; }
        .page-messages-list .main-info .info-holder .last-text:before {
          content: '✓';
          position: absolute;
          right: 0;
          bottom: 0; }
        .page-messages-list .main-info .info-holder .last-text:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;
          margin-top: 0.2em;
          background: #fff; }
        .page-messages-list .main-info .info-holder .last-text img {
          height: 35px; }

.no-messages {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 5;
  width: 100vw; }
  .no-messages p {
    color: #ea6a6a;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px; }

/*# sourceMappingURL=2.3.page-messages-list.css.map */
