@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

$stickerRowHeight: 50px;

.page-chat {
  background-color: $background-color-main;
  @include calc(height, "100vh - 92px");
  overflow: auto;

  .send-box {
    @include chat-send-box;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;

    .close-chat-smiles-ico{
      right: 75px;
    }

    .open-chat-smiles-ico.hidden, .item-attach-wrapper.hidden{
      diplay: none;
    }

    .translate-button{
      margin-right: 0;
      background-color: #fff;
      color: $main-color;
      border: solid 1px $main-color
    }

    .translator-close.translate-active{
      @include flex(1);
    }

    .send-message-button.translate-active{
      @include flex(1);
    }

    .smiles-wrapper {
      display: none;
      @include flex-flow(column, nowrap);
      position: fixed;
      top: 42px;
      left: 0;
      right: 0;
      width: 100%;
      bottom: 50px;
      background-color: #f2f2f2;
      z-index: 10;

      &.opened {
        @include flexbox;
      }

      .sticker-container {
        @include align-items-center;
        @include align-content-start;
        @include space-between;
        @include flex-flow(row, wrap);
        @include flex(1 auto);
        background-color: #f2f2f2;
        overflow: auto;
        width: 100%;
        padding: 5px;
        display: none;

        &:after {
          content: "";
          @include flex(1 auto);
        }

        &.active {
          @include flexbox;
        }

        .sticker {
          position: relative;
          width: 72px;
          height: 72px;
          overflow: hidden;
          margin-right: 5px;
          margin-bottom: 5px;

          img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            max-width: 72px;
            max-height: 72px;
          }
        }

        .recent-smiles-wrapper, .recent-stickers-wrapper {
          @include flexbox;
          @include align-items-center;
          @include align-content-start;
          @include space-between;
          @include flex-flow(row, wrap);

          &:after {
            content: "";
            @include flex(1 auto);
          }
        }

        .recent-smiles-stickers-divider {
          width: 100%;
          height: 1px;
          background: #dedede;
          margin: 5px 0;
        }
      }

      .sticker-pack-set-wrap {
        background-color: #dedede;
        @include flex(0 $stickerRowHeight);
        min-height: $stickerRowHeight;
        max-height: $stickerRowHeight;
        height: $stickerRowHeight;
        width: 100%;

        .sticker-pack-row, .sticker-set-btn-container {
          @include flexbox;
          @include align-items-center;
          width: 100%;
          height: 100%;
          @include transform(translate(0,0) translateZ(0));

          .sticker-set-btn {
            width: $stickerRowHeight + 5px;
            min-width: $stickerRowHeight + 5px;
            height: 100%;
            padding: 0 5px;
            display: inline-block;
            @include flexbox;
            @include align-items-center;
            @include justify-content-center;

            &.active {
              background-color: #ccc;
            }

            img {
              width: 100%;
            }
          }

        }
      }

      .close-smiles-wide-button {
        width: 90%;
        height: 42px;
        min-height: 42px;
        background-color: $background-color-main;
        position: relative;
        border: 1px solid #22416d;
        margin: 5px auto 0;
        border-radius: 5px;
        &:active{
          background-color: $main-second-color;
        }

        &:before {
          content: 'close';
          @include bg-fill;
          @include flexbox;
          @include justify-content-center;
          @include align-items-center;
          color: $font-color-main;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  .messages-wrapper {
    width: 100%;
    height: 100%;
    padding: 2vw;

    .message-row {
      @include flexbox;
      @include align-items-center;
      padding: .5em 0;

      &.left {

        .message-wrap {
          .msg-tail {
            left: 0;
          }

          .message-text {
            margin-left: 10px;
            background-color: #fff;
          }
        }

        .message-time {
          padding-left: 10px;
        }

      }

      &.right {

        .message-wrap {
          .msg-tail {
            right: 0;
          }

          .message-text {
            margin-right: 10px;
            background-color: $messages-color;
            .pictures-holder .picture-box, .pictures-holder .template{
              height: auto;
            }
          }
        }

        .message-time {
          padding-right: 10px;
          text-align: right;
        }
      }

      .message-wrap {
        @include flexbox;
        max-width: 400px;
        position: relative;

        .msg-tail {
          position: absolute;
          bottom: 0;
        }

        .message-text {
          padding: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 3px;
        }
      }

      .message-time {
        @include flex(1 auto);
        min-width: 20%;
        color: $font-color-complement;
      }

    }

    .date-divider {
      color: $font-color-complement;
      width: 100%;
      text-align: center;
    }

  }
}

.read-all-btn{
  position: fixed;
  z-index: 11;
  right: 5px;
  top: 8px;
  padding: 5px 10px;
  border: 1px solid $main-color;
  border-radius: 4px;
  color: $main-color;
  text-transform: uppercase;
  background-color: #fff;
  &:active{
    background: #cccccc;
  }
}

.page-messages-list .main-info .info-holder .main-info-row .id-box{
  width: auto;
  max-width: auto;
  min-width: auto;
}

.page-chat .send-box .enter-text-field{
  padding: 14px 100px 14px 10px;
}

.page-chat .send-box .send-message-button, .page-chat .send-box .translator-close.translate-active{
  &:active{
    background: #666666;
  }
}

.page-chat .pictures-holder .picture-box img{
  width: auto;
}

.page-chat #attachments.pictures-holder .picture-box .close-cross{
  background: #ffffff;
  svg path{
    fill: $main-color;
  }
}

.page-chat .messages-wrapper .message-row .message-wrap .message-text img{
  margin-right: 0;
}

.page-chat #attachments.pictures-holder{
  top: 50px;
}