@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.page-login-register {
  @include bg-fill;
  position: fixed;
  background: $background-color-main no-repeat url("../img/login-bg.jpg") center center;
  text-align: center;
  display: none;
  z-index: $z-login-register;

  .form-body {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    padding: 15px;
    /*background: transparentize($background-color-main-inverse, .2);*/
    background: $background-color-complement;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
    display: none;

    .close-cross {
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      position: absolute;
      top: -12px;
      right: -12px;
      width: 30px;
      height: 30px;
      background-color: $background-color-main-inverse;
      border-radius: 50%;
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
    }

    .logo {
      margin: 5px 0 10px;
    }

    .input-field {
      border: none;
      position: relative;
      background: $background-color-main;
      font-size: $font-size-large;
      padding: 10px 10px 10px 30px;
      margin: 0 0 10px 0;
      color: $font-color-complement-antagonist;
      width: 100%;
      border-radius: 4px;
    }

    label[for="email-login-input"] {
      position: relative;
      left: -83px;
      top: -34px;
      background: no-repeat url("../img/login-email-input-ico.svg");
    }

    label[for="password-login-input"] {
      position: relative;
      left: -86px;
      top: -36px;
      background: no-repeat url("../img/login-pass-input-ico.svg");
    }

    .login-button, .register-button, .search-button {
      border: none;
      /*background-color: transparentize($background-color-main-second, .2);*/
      background-color: $main-color;
      color: #fff;
      width: 100%;
      height: 40px;
      margin: 5px auto 10px;
      display: block;
      @include transition(all .2s ease);
      @include not-selectable;
      border-radius: 4px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);

      &:hover {
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75);
      }
      &:active {
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
        @include transform(translateY(1px));
      }
    }

    .registration-link, .login-link {
      display: inline-block;
      color: $font-color-main-inverse;
      margin: 0 auto 5px;
      text-decoration: underline;

      &:hover{
        text-decoration: underline;
      }
    }

    .authorization-info {
      display: block;
      position: relative;
      font-size: 14px;
      color: $font-color-complement;
      margin: 0 auto 10px;
      width: 100%;
      text-align: center;

      &:before, &:after {
        content: '';
        position: absolute;
        background-color: $font-color-complement;
        width: 80px;
        height: 1px;
        top: 50%;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    .authorization-social-group {
      margin: 10px auto 0;

      & > * {
        margin: 0 5px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
        display: inline-block;
        height: 30px;
      }
    }

    //page pick additions

    .select-title {
      color: $main-color;
      margin: 0 0 15px;
      font-size: 14px;
      text-transform: uppercase;
    }

    .info-ribbon-container {
      margin: 0 -33px;
      background : -moz-linear-gradient(0% 50% 0deg,rgba(212, 20, 90, 1) 8.25%,rgba(237, 30, 121, 1) 25.45%,rgba(212, 20, 90, 1) 53.03%,rgba(237, 30, 121, 1) 76.56%,rgba(212, 20, 90, 1) 100%);
      background : -webkit-linear-gradient(0deg, rgba(212, 20, 90, 1) 8.25%, rgba(237, 30, 121, 1) 25.45%, rgba(212, 20, 90, 1) 53.03%, rgba(237, 30, 121, 1) 76.56%, rgba(212, 20, 90, 1) 100%);
      background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.0825,rgba(212, 20, 90, 1) ),color-stop(0.2545,rgba(237, 30, 121, 1) ),color-stop(0.5303,rgba(212, 20, 90, 1) ),color-stop(0.7656,rgba(237, 30, 121, 1) ),color-stop(1,rgba(212, 20, 90, 1) ));
      background : -o-linear-gradient(0deg, rgba(212, 20, 90, 1) 8.25%, rgba(237, 30, 121, 1) 25.45%, rgba(212, 20, 90, 1) 53.03%, rgba(237, 30, 121, 1) 76.56%, rgba(212, 20, 90, 1) 100%);
      background : -ms-linear-gradient(0deg, rgba(212, 20, 90, 1) 8.25%, rgba(237, 30, 121, 1) 25.45%, rgba(212, 20, 90, 1) 53.03%, rgba(237, 30, 121, 1) 76.56%, rgba(212, 20, 90, 1) 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4145A', endColorstr='#D4145A' ,GradientType=0)";
      background : linear-gradient(90deg, rgba(212, 20, 90, 1) 8.25%, rgba(237, 30, 121, 1) 25.45%, rgba(212, 20, 90, 1) 53.03%, rgba(237, 30, 121, 1) 76.56%, rgba(212, 20, 90, 1) 100%);
      text-align: center;
      font-size: $font-size-large;
      color: $font-color-main-inverse;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
      }

      &:before {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
        height: 2px;
        bottom: 1px;
      }

      &:after {
        background: linear-gradient(90deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
        height: 2px;
        bottom: 0;
      }

      .info-ribbon {
        padding: 10px;

        &:before, &:after {
          content: "";
          position: absolute;
          display: block;
          border-style: solid;
          border-color: #d6155d transparent transparent transparent;
          bottom: -7px;
          z-index: -1;
        }

        &:before {
          left: 0;
          border-width: 7px 0 0 18px;
        }

        &:after {
          right: 0;
          border-width: 7px 18px 0 0;
        }

      }
    }

    .input-range-wrapper {
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      margin-top: 10px;

      &>* {
        margin: 0 3px;
      }

      .input-title {
        color: $main-color;
        font-size: $font-size-large;
      }

      .age-input {
        width: 40px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: $background-color-main;
        height: 20px;
        line-height: 20px;
        padding: 5px;
        text-align: center;
        color: #ea6a6a;
        border: solid 1px #ea6a6a;
      }

      .dash {
        width: 12px;
        height: 1px;
        border-radius: 2px;
        background-color: $background-color-main;
      }
    }

    .slider-ui {
      position: relative;
      margin: 20px 10%;
      border-radius: 0;
      height: 1px;
      background-color: $background-color-main;

      .ui-slider-range {
        border: none;
        background: $background-color-main;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
      }

      .ui-slider-handle {
        top: -9px;
        margin-left: -10px;
        position: absolute;
        z-index: 2;
        cursor: default;
        width: 20px;
        border: 1px solid #fff;
        height: 20px;
        background: $main-color;
        border-radius: 4px;
        outline: none;
      }
    }

    .status-check {
      @include flexbox;
      @include align-items-center;
      @include space-between;
      color: $font-color-main-inverse;
      margin: 15px 0;

      &-title {
        color: $main-color;
      }

      .check-container {
        border-radius: 2px;
        margin: 0 4px;

        &:hover {
          background-color: rgba(251, 173, 48, .5);
        }

        input {
          top: 5px;
          left: 5px;
          position: absolute;
          width: 0;
          height: 0;
          z-index: -1;
          opacity: 0;
        }

        input[type=checkbox]:checked + label .check-img {
          background-position: 0px -21px;
        }

        label {
          position: relative;
          height: 100%;
          cursor: pointer;
          @include flexbox;
        }

        .check-img {
          width: 20px;
          height: 20px;
          display: block;
          vertical-align: middle;
          background: url('../img/checkbox.svg') no-repeat 0 0;
        }

      }

      .chosen-container-single .chosen-search {
        color: $font-color-main;
      }

      .chosen-select-residence-pick{
        width: 160px;
      }
    }


    .vert-divider {
      display: inline-block;
      width: 1px;
      height: 25px;
      background-color: $background-color-main;
      margin: 0 17px -9px;
    }
    .slider-ui{
      height: 4px;
      background-color: #fff;
    }
  }
  .select-gender.want-lives{
    .gender-container{
      svg path{
        stroke: #666;
        fill: none!important;
      }
      &.active{
        svg path{
          stroke: #fff!important;
          fill: none!important;
        }
      }
    }
  }
  .title-for-tags{
    color: #ea6a6a;
    font-size: 15px;
    text-align: center;
  }
  .country-old{
    height: auto;
    z-index: 1;
    position: realtive;
    select{
      width: 100%;
      padding: 10px 0!important;
      text-align: center;
      color: #4d4d4d;
      outline: none!important;
      option{
        text-align: center;
        color: #4d4d4d;
      }
    }
  }
  .tag-place-container{
    .tag-place{
      &.active{
        border: solid 1px $main-color;
        background: $main-color;
        color: #ffffff;
      }
    }
  }
  .form-body.pick-filter{
    transform: none;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-radius: 0;
    .search-button{
      font-size: 16px;
    }
  }
}