/* mixin for multiline */
/* mixin for multiline */
.page-login-register {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  background: #F2F2F2 no-repeat url("../img/login-bg.jpg") center center;
  text-align: center;
  display: none;
  z-index: 100; }
  .page-login-register .form-body {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px;
    /*background: transparentize($background-color-main-inverse, .2);*/
    background: #cccccc;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
    display: none; }
    .page-login-register .form-body .close-cross {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      top: -12px;
      right: -12px;
      width: 30px;
      height: 30px;
      background-color: #ea6a6a;
      border-radius: 50%;
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6); }
    .page-login-register .form-body .logo {
      margin: 5px 0 10px; }
    .page-login-register .form-body .input-field {
      border: none;
      position: relative;
      background: #F2F2F2;
      font-size: 15px;
      padding: 10px 10px 10px 30px;
      margin: 0 0 10px 0;
      color: #333333;
      width: 100%;
      border-radius: 4px; }
    .page-login-register .form-body label[for="email-login-input"] {
      position: relative;
      left: -83px;
      top: -34px;
      background: no-repeat url("../img/login-email-input-ico.svg"); }
    .page-login-register .form-body label[for="password-login-input"] {
      position: relative;
      left: -86px;
      top: -36px;
      background: no-repeat url("../img/login-pass-input-ico.svg"); }
    .page-login-register .form-body .login-button, .page-login-register .form-body .register-button, .page-login-register .form-body .search-button {
      border: none;
      /*background-color: transparentize($background-color-main-second, .2);*/
      background-color: #ea6a6a;
      color: #fff;
      width: 100%;
      height: 40px;
      margin: 5px auto 10px;
      display: block;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      transition: all 0.2s ease;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: 4px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4); }
      .page-login-register .form-body .login-button:hover, .page-login-register .form-body .register-button:hover, .page-login-register .form-body .search-button:hover {
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75); }
      .page-login-register .form-body .login-button:active, .page-login-register .form-body .register-button:active, .page-login-register .form-body .search-button:active {
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
        -webkit-transform: translateY(1px);
        -moz-transform: translateY(1px);
        -o-transform: translateY(1px);
        -ms-transform: translateY(1px);
        transform: translateY(1px); }
    .page-login-register .form-body .registration-link, .page-login-register .form-body .login-link {
      display: inline-block;
      color: #fff;
      margin: 0 auto 5px;
      text-decoration: underline; }
      .page-login-register .form-body .registration-link:hover, .page-login-register .form-body .login-link:hover {
        text-decoration: underline; }
    .page-login-register .form-body .authorization-info {
      display: block;
      position: relative;
      font-size: 14px;
      color: #B3B4B4;
      margin: 0 auto 10px;
      width: 100%;
      text-align: center; }
      .page-login-register .form-body .authorization-info:before, .page-login-register .form-body .authorization-info:after {
        content: '';
        position: absolute;
        background-color: #B3B4B4;
        width: 80px;
        height: 1px;
        top: 50%; }
      .page-login-register .form-body .authorization-info:before {
        left: 0; }
      .page-login-register .form-body .authorization-info:after {
        right: 0; }
    .page-login-register .form-body .authorization-social-group {
      margin: 10px auto 0; }
      .page-login-register .form-body .authorization-social-group > * {
        margin: 0 5px;
        cursor: pointer;
        border-radius: 50%;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
        display: inline-block;
        height: 30px; }
    .page-login-register .form-body .select-title {
      color: #ea6a6a;
      margin: 0 0 15px;
      font-size: 14px;
      text-transform: uppercase; }
    .page-login-register .form-body .info-ribbon-container {
      margin: 0 -33px;
      background: -moz-linear-gradient(0% 50% 0deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
      background: -webkit-linear-gradient(0deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
      background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0.0825, #d4145a), color-stop(0.2545, #ed1e79), color-stop(0.5303, #d4145a), color-stop(0.7656, #ed1e79), color-stop(1, #d4145a));
      background: -o-linear-gradient(0deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
      background: -ms-linear-gradient(0deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D4145A', endColorstr='#D4145A' ,GradientType=0)";
      background: linear-gradient(90deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
      text-align: center;
      font-size: 15px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      position: relative; }
      .page-login-register .form-body .info-ribbon-container:before, .page-login-register .form-body .info-ribbon-container:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0; }
      .page-login-register .form-body .info-ribbon-container:before {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
        height: 2px;
        bottom: 1px; }
      .page-login-register .form-body .info-ribbon-container:after {
        background: linear-gradient(90deg, #d4145a 8.25%, #ed1e79 25.45%, #d4145a 53.03%, #ed1e79 76.56%, #d4145a 100%);
        height: 2px;
        bottom: 0; }
      .page-login-register .form-body .info-ribbon-container .info-ribbon {
        padding: 10px; }
        .page-login-register .form-body .info-ribbon-container .info-ribbon:before, .page-login-register .form-body .info-ribbon-container .info-ribbon:after {
          content: "";
          position: absolute;
          display: block;
          border-style: solid;
          border-color: #d6155d transparent transparent transparent;
          bottom: -7px;
          z-index: -1; }
        .page-login-register .form-body .info-ribbon-container .info-ribbon:before {
          left: 0;
          border-width: 7px 0 0 18px; }
        .page-login-register .form-body .info-ribbon-container .info-ribbon:after {
          right: 0;
          border-width: 7px 18px 0 0; }
    .page-login-register .form-body .input-range-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 10px; }
      .page-login-register .form-body .input-range-wrapper > * {
        margin: 0 3px; }
      .page-login-register .form-body .input-range-wrapper .input-title {
        color: #ea6a6a;
        font-size: 15px; }
      .page-login-register .form-body .input-range-wrapper .age-input {
        width: 40px;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: #F2F2F2;
        height: 20px;
        line-height: 20px;
        padding: 5px;
        text-align: center;
        color: #ea6a6a;
        border: solid 1px #ea6a6a; }
      .page-login-register .form-body .input-range-wrapper .dash {
        width: 12px;
        height: 1px;
        border-radius: 2px;
        background-color: #F2F2F2; }
    .page-login-register .form-body .slider-ui {
      position: relative;
      margin: 20px 10%;
      border-radius: 0;
      height: 1px;
      background-color: #F2F2F2; }
      .page-login-register .form-body .slider-ui .ui-slider-range {
        border: none;
        background: #F2F2F2;
        top: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block; }
      .page-login-register .form-body .slider-ui .ui-slider-handle {
        top: -9px;
        margin-left: -10px;
        position: absolute;
        z-index: 2;
        cursor: default;
        width: 20px;
        border: 1px solid #fff;
        height: 20px;
        background: #ea6a6a;
        border-radius: 4px;
        outline: none; }
    .page-login-register .form-body .status-check {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #fff;
      margin: 15px 0; }
      .page-login-register .form-body .status-check-title {
        color: #ea6a6a; }
      .page-login-register .form-body .status-check .check-container {
        border-radius: 2px;
        margin: 0 4px; }
        .page-login-register .form-body .status-check .check-container:hover {
          background-color: rgba(251, 173, 48, 0.5); }
        .page-login-register .form-body .status-check .check-container input {
          top: 5px;
          left: 5px;
          position: absolute;
          width: 0;
          height: 0;
          z-index: -1;
          opacity: 0; }
        .page-login-register .form-body .status-check .check-container input[type=checkbox]:checked + label .check-img {
          background-position: 0px -21px; }
        .page-login-register .form-body .status-check .check-container label {
          position: relative;
          height: 100%;
          cursor: pointer;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-shrink: 1;
          -ms-flex-negative: 1;
          flex-shrink: 1; }
        .page-login-register .form-body .status-check .check-container .check-img {
          width: 20px;
          height: 20px;
          display: block;
          vertical-align: middle;
          background: url("../img/checkbox.svg") no-repeat 0 0; }
      .page-login-register .form-body .status-check .chosen-container-single .chosen-search {
        color: #ea6a6a; }
      .page-login-register .form-body .status-check .chosen-select-residence-pick {
        width: 160px; }
    .page-login-register .form-body .vert-divider {
      display: inline-block;
      width: 1px;
      height: 25px;
      background-color: #F2F2F2;
      margin: 0 17px -9px; }
    .page-login-register .form-body .slider-ui {
      height: 4px;
      background-color: #fff; }
  .page-login-register .select-gender.want-lives .gender-container svg path {
    stroke: #666;
    fill: none !important; }
  .page-login-register .select-gender.want-lives .gender-container.active svg path {
    stroke: #fff !important;
    fill: none !important; }
  .page-login-register .title-for-tags {
    color: #ea6a6a;
    font-size: 15px;
    text-align: center; }
  .page-login-register .country-old {
    height: auto;
    z-index: 1;
    position: realtive; }
    .page-login-register .country-old select {
      width: 100%;
      padding: 10px 0 !important;
      text-align: center;
      color: #4d4d4d;
      outline: none !important; }
      .page-login-register .country-old select option {
        text-align: center;
        color: #4d4d4d; }
  .page-login-register .tag-place-container .tag-place.active {
    border: solid 1px #ea6a6a;
    background: #ea6a6a;
    color: #ffffff; }
  .page-login-register .form-body.pick-filter {
    transform: none;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border-radius: 0; }
    .page-login-register .form-body.pick-filter .search-button {
      font-size: 16px; }

/*# sourceMappingURL=2.5.page-login.css.map */
