/* mixin for multiline */
.page-settings {
  padding: 42px 0 20px;
  margin: 0;
  min-height: 0; }
  .page-settings .input-range-wrapper .age-input {
    width: 40px; }
  .page-settings .cpf-button {
    padding: 13px 7px; }
    .page-settings .cpf-button:active {
      border: solid 1px #ea6a6a;
      color: #ffffff;
      background: #ea6a6a; }
  .page-settings .msg-privacy-button:active {
    border: solid 1px #ea6a6a;
    color: #ffffff;
    background: #ea6a6a; }
  .page-settings .logout-btn:active {
    border: solid 1px #ea6a6a;
    color: #ffffff;
    background: #ea6a6a; }

.tag-place-container .tag-place:active {
  border: solid 1px #ea6a6a;
  color: #ffffff;
  background: #ea6a6a; }

.account-line {
  padding: 0 10px; }
  .account-line h4 {
    margin-bottom: 15px; }
  .account-line p {
    color: #666666;
    margin-bottom: 15px; }
  .account-line button {
    width: 100%;
    border-radius: 5px;
    border: solid #666 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 7px;
    position: relative;
    color: #666;
    margin-bottom: 20px;
    background: #ffffff;
    outline: none;
    font-size: 14px; }
    .account-line button:active {
      border: solid 1px #ea6a6a;
      color: #ffffff;
      background: #ea6a6a; }

.sub-step-one {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 2;
  display: none; }
  .sub-step-one.active {
    display: block; }
  .sub-step-one .btn-sub {
    margin: 30px 10px;
    height: 50px;
    width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background: #ffffff;
    border-radius: 5px;
    border: #ea6a6a;
    overflow: hidden;
    border: solid 1px #ea6a6a; }
    .sub-step-one .btn-sub .text {
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background: #ea6a6a;
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .sub-step-one .btn-sub .price-part {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .sub-step-one .btn-sub .price-part svg {
        fill: #ea6a6a;
        height: 39.979px;
        width: 40px;
        margin-right: 5px; }
      .sub-step-one .btn-sub .price-part .price {
        font-weight: bold;
        color: #ea6a6a;
        font-size: 24px; }
      .sub-step-one .btn-sub .price-part .info {
        color: #ea6a6a;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: left; }

.sub-step-two {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 3;
  display: none; }
  .sub-step-two.active {
    display: block; }
  .sub-step-two .btn-sub {
    margin: 30px 10px;
    height: 50px;
    width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    background: #ffffff;
    border-radius: 5px;
    border: #ea6a6a;
    overflow: hidden;
    border: solid 1px #ea6a6a; }
    .sub-step-two .btn-sub .text {
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      background: #ea6a6a;
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .sub-step-two .btn-sub .text svg {
        width: 18px;
        height: 12.39px;
        fill: #fff;
        margin-right: 5px; }
    .sub-step-two .btn-sub .price-part {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .sub-step-two .btn-sub .price-part svg {
        fill: #ea6a6a;
        height: 39.979px;
        width: 40px;
        margin-right: 5px; }
      .sub-step-two .btn-sub .price-part .price {
        font-weight: bold;
        color: #ea6a6a;
        font-size: 24px; }
      .sub-step-two .btn-sub .price-part .info {
        color: #ea6a6a;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: left; }
  .sub-step-two .p-type {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin-left: 35vw;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    margin-top: 30px; }
    .sub-step-two .p-type input {
      visibility: hidden; }
    .sub-step-two .p-type label img {
      height: 28px;
      width: auto; }
    .sub-step-two .p-type .check {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: -15px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: solid 1px #636363; }
      .sub-step-two .p-type .check:before {
        content: '';
        height: 15px;
        width: 15px;
        background: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%; }
    .sub-step-two .p-type input[type=radio]:checked ~ .check {
      border: solid 1px #ea6a6a; }
      .sub-step-two .p-type input[type=radio]:checked ~ .check:before {
        background: #ea6a6a; }

/*# sourceMappingURL=2.8.page-settings.css.map */
