@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.page-settings {
  padding: 42px 0 20px;
  margin: 0;
  min-height: 0;
  .input-range-wrapper .age-input{
    width: 40px;
  }
  .cpf-button{
    padding: 13px 7px;
    &:active{
      border: solid 1px $main-color;
      color: #ffffff;
      background: $main-color;
    }
  }
  .msg-privacy-button{
    &:active{
      border: solid 1px $main-color;
      color: #ffffff;
      background: $main-color;
    }
  }
  .logout-btn{
    &:active{
      border: solid 1px $main-color;
      color: #ffffff;
      background: $main-color;
    }
  }
}

.tag-place-container{
  .tag-place{
    &:active{
      border: solid 1px $main-color;
      color: #ffffff;
      background: $main-color;
    }
  }
}

.account-line{
  padding: 0 10px;
  h4{
    margin-bottom: 15px;
  }
  p{
    color: #666666;
    margin-bottom: 15px;
  }
  button{
    width: 100%;
    border-radius: 5px;
    border: solid #666 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 7px;
    position: relative;
    color: #666;
    margin-bottom: 20px;
    background: #ffffff;
    outline: none;
    font-size: 14px;
    &:active{
      border: solid 1px #ea6a6a;
      color: #ffffff;
      background: #ea6a6a;
    }
  }
}

.sub-step-one{
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 2;
  display: none;
  &.active{
    display: block;
  }
  .btn-sub{
    margin: 30px 10px;
    height: 50px;
    width: auto;
    @include flexbox;
    background: #ffffff;
    border-radius: 5px;
    border: $main-color;
    overflow: hidden;
    border: solid 1px $main-color;
    .text{
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      @include flex(1);
      background: $main-color;
      height: 100%;
      @include flexbox;
      @include justify-content-center;
      @include align-items-center;
    }
    .price-part{
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      @include flex(1);
      svg{
        fill: $main-color;
        height: 39.979px;
        width: 40px;
        margin-right: 5px;
      }
      .price{
        font-weight: bold;
        color: $main-color;
        font-size: 24px;
      }
      .info{
        color: $main-color;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
}

.sub-step-two{
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 3;
  display: none;
  &.active{
    display: block;
  }
  .btn-sub{
    margin: 30px 10px;
    height: 50px;
    width: auto;
    @include flexbox;
    background: #ffffff;
    border-radius: 5px;
    border: $main-color;
    overflow: hidden;
    border: solid 1px $main-color;
    .text{
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      @include flex(1);
      background: $main-color;
      height: 100%;
      @include flexbox;
      @include justify-content-center;
      @include align-items-center;
      svg{
        width: 18px;
        height: 12.39px;
        fill: #fff;
        margin-right: 5px;
      }
    }
    .price-part{
      @include flexbox;
      @include align-items-center;
      @include justify-content-center;
      @include flex(1);
      svg{
        fill: $main-color;
        height: 39.979px;
        width: 40px;
        margin-right: 5px;
      }
      .price{
        font-weight: bold;
        color: $main-color;
        font-size: 24px;
      }
      .info{
        color: $main-color;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        text-align: left;
      }
    }
  }
  .p-type{
    @include flexbox;
    margin-left: 35vw;
    @include align-items-center;
    position: relative;
    margin-top: 30px;
    input{
      visibility: hidden;
    }
    label img{
      height: 28px;
      width: auto;
    }
    .check{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: -15px;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: solid 1px #636363;
      &:before{
        content: '';
        height: 15px;
        width: 15px;
        background: #fff;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
    input[type=radio]:checked ~ .check{
      border: solid 1px $main-color;
      &:before{
        background: $main-color;
      }
    }
  }
}