@charset "utf-8";
@import "0.0.mixins";
@import "0.1.font-colors-variables";

.page-ribbon {
  padding-top: 42px;
  .writepost .controls{
    width: auto;
    padding: 0 20px;
    background: #fff;
    .control-btn{
      width: 100px;
      height: 35px;
      border-radius: 5px;
      border: solid 1px #ea6a6a;
      color: #fff;
      background-color: #ea6a6a;
      outline: none;
      text-transform: uppercase;
      font-size: 18px;
      &.cancel-post{
        color: #ea6a6a;
        background-color: #fff;
      }
    }
    .soc-share .soc-block .check-container{
      label{
        height: 70px;
        margin-top: -50px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
  .writepost{
    .check-container{
      .clickable{
        border: solid 1px $main-color;
        border-radius: 3px;
      }
    }
  }
}