/* mixin for multiline */
.side-menu {
  position: absolute;
  background-color: #fff;
  width: 275px;
  z-index: 10;
  -webkit-transform: translateX(-275px) translateZ(0);
  -moz-transform: translateX(-275px) translateZ(0);
  -o-transform: translateX(-275px) translateZ(0);
  -ms-transform: translateX(-275px) translateZ(0);
  transform: translateX(-275px) translateZ(0);
  height: -moz-calc(100vh - 42px);
  height: -webkit-calc(100vh - 42px);
  height: calc(100vh - 42px);
  overflow: auto;
  top: 50px;
  left: 0;
  /*left: -275px;*/ }
  .side-menu-divider {
    width: 100%;
    height: 1px;
    background-color: #fff; }
  .side-menu-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 42px;
    color: #2c3a48;
    font-size: 15px;
    border-bottom: dashed 2px #f1f1f1 !important; }
    .side-menu-item.active {
      background-color: #fff;
      color: #ea6a6a; }
      .side-menu-item.active .def-ico {
        fill: #ea6a6a !important; }
      .side-menu-item.active .stroke-ico path, .side-menu-item.active .stroke-ico rect, .side-menu-item.active .stroke-ico circle {
        stroke: #ea6a6a !important; }
      .side-menu-item.active .notify path:first-of-type {
        stroke: #ea6a6a !important; }
      .side-menu-item.active .notify path:last-of-type {
        fill: #ea6a6a !important; }
    .side-menu-item-ico-holder {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 25px;
      margin: 0 20px; }
  .side-menu a {
    display: block;
    position: relative; }
    .side-menu a .side-menu-item-messages-number {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 0; }
      .side-menu a .side-menu-item-messages-number .number.unreaded {
        background: #ea6a6a;
        color: #ffffff; }
  .side-menu .block-menu {
    position: relative; }
    .side-menu .block-menu .dropdown-menu {
      padding-left: 65px;
      display: none;
      border-bottom: dashed 2px #f1f1f1 !important; }
      .side-menu .block-menu .dropdown-menu.active {
        display: block; }
      .side-menu .block-menu .dropdown-menu p {
        padding: 5px 0; }
        .side-menu .block-menu .dropdown-menu p a {
          color: #2c3a48;
          font-size: 15px;
          display: inline; }

.side-menu-close-cover {
  display: none;
  position: fixed;
  top: 42px;
  left: 0;
  height: -moz-calc(100vh - 42px);
  height: -webkit-calc(100vh - 42px);
  height: calc(100vh - 42px);
  width: -moz-calc(100% - 275px);
  width: -webkit-calc(100% - 275px);
  width: calc(100% - 275px);
  -webkit-transform: translateX(275px) translateZ(0);
  -moz-transform: translateX(275px) translateZ(0);
  -o-transform: translateX(275px) translateZ(0);
  -ms-transform: translateX(275px) translateZ(0);
  transform: translateX(275px) translateZ(0);
  background-color: rgba(0, 0, 0, 0.5);
  /*left: 275px;*/
  z-index: 10; }

.block-status-btn.block {
  color: #fff; }
  .block-status-btn.block svg circle, .block-status-btn.block svg line {
    stroke: #fff; }

.block-status-btn.chat {
  right: 20px; }

.page-chat .load-more {
  background-color: #ea6a6a;
  border-top: solid 1px #fff; }

.page-notifications {
  padding-top: 50px; }

/*# sourceMappingURL=3.0.side-menu.css.map */
