@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

$black: #333333;
$red: #E66A6A;

header{
  background: url('../img/landing/bg1.png') no-repeat center / cover;
  padding-bottom: 100px;
  .head{
    background: rgba(225,225,225,0.8);
    width: auto;
    padding: 15px;
    p{
      color: $black;
      font-size: 18px;
      text-align: center;
    }
  }
  h1{
    position: relative;
    color: $red;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    svg{
      height: 75px;
      width: auto;
      margin-bottom: -10px;
      margin-right: -10px;
    }
  }
}

.request{
  background-color: $red;
  width: auto;
  padding: 15px;
  p{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
  }
  form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    input{
      padding: 5px;
      font-size: 16px;
      border: none;
      outline: none;
      width: 150px;
    }
    button{
      box-shadow: 0 0 10px rgba(0,0,0,0.75);
      border: none;
      outline: none;
      background-color: $red;
      color: #fff;
      font-size: 18px;
      padding: 5px;
    }
  }
}

h2{
  color: $black;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

.subtitle{
  color: $black;
  text-align: center;
  font-size: 16px;
}

.kak{
  background: url('../img/landing/landinb_bg1.png') no-repeat center / cover;
  width: auto;
  padding: 15px 15px 0 15px;
  overflow: hidden;
  .kak-item{
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg{
      margin-bottom: 15px;
    }
    p{
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
    }
  }
  .lb1{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

.chto{
  background: url('../img/landing/landinb_bg1.png') no-repeat center / cover;
  overflow: hidden;
  .title-wrap{
    background-color: $red;
    width: auto;
    h2{
      color: #fff;
    }
  }
  .chto-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    figure{
      height: 120px;
      width: 120px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border: #fff solid 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.75);
      border-radius: 50%;
      img{
        height: 100%;
        width: auto;
      }
    }
    h3{
      color: $black;
      text-transform: uppercase;
      text-align: center;
      margin-top: 15px;
      font-size: 18px;
    }
  }
  .lb2{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

.chat{
  background: url('../img/landing/bg2.png') no-repeat center / cover;
  padding: 20px 0;
  .title{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 10px 25px;
    font-size: 40px;
  }
  img{
    width: 100%;
    height: auto;
    margin-top: -30px;
  }
  .subtitle{
    color: #fff;
    width: auto;
    padding: 15px;
  }
}

.security{
  background: url('../img/landing/landing_bg2.png') no-repeat bottom center / cover;
  img{
    display: block;
    margin: 20px auto;
    width: 80%;
    height: auto;
  }
  .subtitle:last-of-type{
    width: auto;
    padding: 0 15px 15px 15px;
  }
}

.start{
  padding: 15px 0 0;
  background-color: $red;
  .title-wrap{
    background: url('../img/landing/landing_plane1.png') no-repeat top center / cover;
    width: auto;
    margin: 0 15px;
    h2{
      color: #fff;
    }
  }
  .time{
    width: auto;
    display: flex;
    justify-content: center;
    .time-item{
      margin: 15px 15px 0 15px;
      text-align: center;
      p:first-of-type{
        font-size: 40px;
        font-weight: bold;
        color: #fff;
      }
      p:last-of-type{
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}

.soc{
  padding: 15px;
  width: auto;
  .soc-row{
    padding: 15px 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
      img{
        height: 50px;
        width: auto;
      }
    }
  }
}