<%- include('../header') %>
<%- include('sidemenu-admin') %>

<style>
  .user-box {
    padding: 2vw;
  }

  .user-box .flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-box .flex-row-sub {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .user-box .avatar-holder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
  }

  .user-box .avatar-holder .user-avatar {
    position: relative;
    min-width: 40px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    margin: 0;
    border: 0.3px solid #e6c12e;
    border-radius: 50%;
  }

  .user-box .avatar-holder .user-avatar img {
    position: absolute;
    top: 49%;
    left: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    vertical-align: middle;
    min-height: 102%;
    min-width: 102%;
  }

  .user-box .info-holder {
    -webkit-box-flex: 3 auto;
    -moz-box-flex: 3 auto;
    -webkit-flex: 3 auto;
    -ms-flex: 3 auto;
    flex: 3 auto;
    padding-left: 10px;
    max-width: 80%;
    overflow: hidden;
  }

  .user-box .id {
    font-weight: bold;
    font-size: 15px;
    color: #313133;
    text-transform: uppercase;
    color: #fff;
    background-color: #e6c12e;
    padding: 0 3px;
  }

  .user-box .name {
    font-weight: bold;
    font-size: 15px;
    color: #313133;
    text-transform: uppercase;
    text-transform: none;
    color: #313133;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: -moz-calc(100% - 67px);
    width: -webkit-calc(100% - 67px);
    width: calc(100% - 67px);
    padding-left: 5px;
  }

  .user-arrow {
    margin-right: 20px;
  }

  .user-arrow svg {
    width: 15px;
  }

  .online-status {
    padding: 4px 0;
  }

  .separator-line {
    border-bottom: 1px solid darkgrey;
    margin: 10px 5px 0 5px;
  }

  .msg-time {
    font-style: italic;
  }
</style>

<!--start page chat-list-->
<div class="page-messages-list" style="display: none;">

</div>
<%- include('../footer') %>