<%- include('../header') %>
<%- include('sidemenu-admin') %>
<div class="emails center-content page-users" style="margin-top: 50px">
    <div class="emails-outer-wrapper">

      <div class="emails-header">
        <div class="wtv-container country-old" style="padding: 10px 0;">
            <svg class="search__icosearch " xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24.88 24.88">
                <path fill="gray" d="M24.66,23.61l-6-6a10.62,10.62,0,1,0-1,1l6,6a.75.75,0,0,0,.52.22.73.73,0,0,0,.52-.22.75.75,0,0,0,0-1Zm-23.18-13a9.12,9.12,0,1,1,9.12,9.12,9.13,9.13,0,0,1-9.12-9.12Zm0,0"></path>
            </svg>
            <div id="country-to-visit" style="display: none;"></div>
            <input id="add-place-popular" class="google-places-input" style=" width: 100%; margin-left: 10px;" type="text" placeholder="Add place">
            <svg class="close" xmlns="http://www.w3.org/2000/svg" width="20.354" height="20.354" viewBox="0 0 20.354 20.354"><title>close</title><line x1="0.177" y1="0.177" x2="20.177" y2="20.177" fill="none" stroke="gray" stroke-miterlimit="10" stroke-width="1.5"></line><line x1="19.72" y1="0.634" x2="0.634" y2="19.72" fill="none" stroke="#4d4d4d" stroke-miterlimit="10" stroke-width="1.5"></line></svg>
        </div>
    </div>

    <div class="emails-inner-wrapper">
        <ul class="emails-wrapper">

        </ul>
    </div>
</div>
</div>

<%- include('../footer') %>