<%- include('../header') %>
<%- include('sidemenu-admin') %>

<div class="page-users">
    <div class="user-row">
        <div class="user-info">
            <figure class="user-avatar">
                <img src="/uploads/cabinet/653433_1520264400121_thumb.png">
            </figure>
            @nickname
        </div>
        <div class="user-age">
            21 y.o.
        </div>
        <div class="location">
            Kiyv, Ukraine
        </div>
        <div class="visit">
            LA, USA
        </div>
    </div>
</div>


<%- include('../footer') %>



